<!-- BODY -->

<div class="gt_content_wrap">
    <!--Classes Wrap Start-->
    <section class="gt_courses_bg">
        <form class="gt_contact_form" id="contact-form" action="CompletaRegistrazione" method="post" enctype="multipart/form-data">
            <div class="row">             
                <div class="container">
                    <div class="col-md-8">
                        <!--Advance Search Wrap Start-->
                        <div class="gt_advacnce_search_wrap default_width">
                            <div class="gt_aside2_hdg mb30 gt_aside_category title-add-skill"> <!-- gt_aside_category -->
                                <h5>Add Skills</h5>
                            </div>
                            <div class="add-skill"><!-- gt_advacnce_search_wrap default_width -->
                                <div class="gt_explore_search gt_clas_search select-skill"> <!-- gt_aside_field -->         
                                    <select id="select-skill" class="find_course_search">
                                        <option>Select Skill</option>
                                        
                                        <#list skills as skill>
                                        <option value="${skill.key}">${skill.name}</option>
                                        <#list skill.child as child>
                                        <option value="${child.key}"> - ${child.name}</option>
                                        </#list>
                                        </#list>
                                    </select>
                                </div>
                                
                                <div class="gt_explore_search gt_clas_search select-skill">            
                                    <select id="select-level" class="find_course_search">
                                        <option value="">Level</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="gt_explore_search gt_clas_search select-skill">                          
                                    <input id ="add-button" type="button" class="add-button add-skill-btn" value="Add">
                                </div>
                            </div>
                            <div class="lista-skill gt_aside_category">
                                <ul class="list-skill">
                                    
                                </ul>
                            </div>
                        </div>   
                    </div>                    
                    <div class="col-md-4 col-sm-8">
                        <div class="form-group upload-pic" id="profile-center">
                            
                            <label for="upload-profile-pictures">Profile Picture</label>
                            <figure>
                                <img id="img-profilo" src="uploaded-images/foto_profilo_default.png" >
                            </figure>
                            <label class="btn btn-default btn-file btn-upd">
                                Choose Picture
                                <input type="file" id="foto-profilo" class="hidden" name="foto-profilo" accept="image/*" onchange="readURL(this);"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt_event_tab default_width">
                
                <div class="gt_event_inside_tab default_width">
                    <ul data-tabs="tabs">
                        <li class="active"><a data-toggle="tab" href="#time_schedule">Write CV</a></li>
                        <li><a data-toggle="tab" href="#google_map">Upload CV</a></li>
                    </ul>
                    <!--Event Tab List Start-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="time_schedule">
                            <div class="gt_event_time_schdule default_width">
                                <textarea class="tiny" name="curriculum" id="curriculum" placeholder="Write here you curriculum"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane" id="google_map">
                            <div class="gt_event_map default_width">
                                <div class="map-canvas" id="map-canvas">
                                    <input type="file" id="curriculum-pdf" name="curriculum-pdf" accept="application/pdf">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="gt_contact_us_field">
                    <textarea class="gt_c_bg" name="biography" id="biography" placeholder="Write here a short description about you"></textarea>
                </div>
            </div>
            <div class="tab-pane active" id="login">
                <div class="gt_login_des_wrap default_width">
                    <div class="gt_login_field completa-reg-submit">
                        <input id="completa-reg-submit submit" type="submit" value="Submit" name="submit">
                    </div></div></div>
            <input type="text" value=${username} name="username" class="hidden">
            <input type="text" value=${userid} name="userid" id="userid" class="hidden">
            <!-- <h5 id="userid" class="hidden">${userid}</h5>-->
            <!-- <input type="text" name="skills" id="skills-input" class="hidden">-->
        </form>
    </section>
</div>

