<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Dashboard</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="similar developer-list">
                  <!-- DEVELOPER -->
                    <div class="media">
                      <div class="media-left">
                          <div class="inn-simi"> <div class="media-object" <#if dev.picture??>style="background-image:url('${request.getContextPath()}/uploads/images/${dev.picture}')"</#if> alt=""></div><!-- <a href="#">Profile </a> --></div>
                      </div>
                      <div class="media-body">
                          <h4 class="pt30"><a class="title-developer-list" href="${request.getContextPath()}/developers/${dev.key}"><#if (dev.name == "" && dev.surname == "")>${dev.username}<#else>${dev.name} ${dev.surname}</#if></a></h4>
                        <p>${dev.headline}</p>
                        <div class="com-rate"><span>
                              <#list 1..5 as i>
                                  <#if (i > votes)>
                                  <i class="fa fa-star-o"></i>
                                  <#else>
                                  <i class="fa fa-star"></i>
                                  </#if>
                              </#list>
                              </span></div>
                        <!--<br>
                        <a href="#">New York, USA</a>-->
                        <div>
                            <#assign dec = dev.getTextBio()>
                              <#if (dec?length > 251)>
                                  ${dec?substring(0, 250)}... <a href="${request.getContextPath()}/developers/${dev.key}">read more</a>
                              <#else>
                                 ${dec} <a href="${request.getContextPath()}/developers/${dev.key}"> read more</a>
                              </#if>
                        </div>

                        <!--Share 
                        <div class="share-w pt30"><a href="#."><i class="fa fa-envelope-o"></i></a> <a href="#."><i class="fa fa-envelope-o"></i></a></div>-->
                      </div>
                    </div>

                    <!-- END DEVELOPER -->
                  </div>
              </div>
          </div>
        <div class="row"> 
          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="network">
              
              <!-- Nav Tabs -->
              <ul class="nav nav-tabs">
                  <li><a href="${request.getContextPath()}/dashboard/invitations#invitations">Invitations (<span id="nInvitations">${nInvitations}</span>)</a></li>
                <li><a  href="${request.getContextPath()}/dashboard/requests#requests">Requests (<span id="nRequests">${nRequests}</span>)</a></li>
                <li><a href="${request.getContextPath()}/dashboard/proposals#proposals">Collaboration Proposals (<span id="nProposals">${nProposals}</span>)</a></li>
                <li><a href="${request.getContextPath()}/dashboard/job_applications#job_applications">Your Job Applications (<span id="nJobApplications">${nJobApplications}</span>)</a></li>
                <li class="active"><a href="#">Job Offers</a></li>
                
              </ul>
              <hr>
              <!-- Tab Content -->
              <div class="tab-content"> 
                
                <!-- Connections -->
                <div id="job_offers" class="tab-pane fade in active">
                  <div class=""> 
                      
                    <!-- Filter -->
                    <div class="filter-flower">
                        <!--<p>Lorem ipsu umanu est</p>-->
                      <div class="row">
                        <div class="col-sm-7">
                            <p>Job Offers we have found for you by your skills. Click on a job offer for more details.</p>
                          <!--<a href="#." class="active btn btn-error"><i class="fa fa-trash"></i></a>-->
                        </div>
                        
                        <!-- Short 
                        <div class="col-sm-5">
                          <select>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                          </select>
                        </div>-->
                      </div>
                    </div>
                    <div id="alert-jobapps"></div>
                    <!-- Members -->
                    <div class="listing listing-1">
                  <div class="listing-section">
                      <#if joboffers?has_content>
                    <#list joboffers as task>
                    <div class="listing-ver-3 task-item">
                      <div class="listing-heading">
                          <h5><#if task.isCompleted()><i class="fa fa-check-circle text-primary"></i><#else><#if task.open><i class="fa fa-folder-open text-success"></i><#else><i class="fa fa-dot-circle-o text-danger"></i></#if></#if> <a class="text-black" href="${request.getContextPath()}/projects/${task.getProject().key}">${task.getProject().name}</a> / <a href="${request.getContextPath()}/projects/tasks/${task.key}">${task.name}</a></h5>
                        
                      </div>
                      <div class="listing-inner">
                        <div class="listing-content">
                          <h6 class="title-company">${tasks_types[task?index].type}</h6>
                          <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <!--<span class="text-success"> Start Date</span>: ${task.getStartDate().time?date?string.short} |  <span class="text-danger">End Date</span>: ${task.getEndDate().time?date?string.short}-->
                          <div>
                            <#assign dec = task.getTextDescription()>
                            <#if (dec?length > 251)>
                            <div class="p10">${dec?substring(0, 250)}... <a href="${request.getContextPath()}/projects/${progetto.key}">read more</a></div>
                            <#else>
                                <div class="p10">${dec} <a href="${request.getContextPath()}/projects/${progetto.key}"> read more</a></div>
                            </#if>
                          </div>
                          <h6 class="title-tags">Skills required:</h6>
                          <ul class="tags list-inline">
                            <#list skills[task?index] as key,value>
                            <li><a href="">${key.name} <span>${value}</span> </a></li>
                        </#list>
                          </ul>
                        </div>
                      </div>
                      <div class="listing-tabs">
                        <ul>
                          <li class="hidden-xs"><#if task.isCompleted()><span class="text-primary">Completed</span><#else><#if task.open><span class="task-open">Open</span><#else><span class="task-closed">Closed</span></#if></#if></li>
                          <li><span><i class="fa fa-group text-primary"></i> <strong>${task.numCollaborators}</strong> Developers</span></li>
                          <li><span><i class="fa fa-clock-o text-primary"></i> ${task.getStartDate().time?date?string.short} <strong class="text-primary">|</strong> ${task.getEndDate().time?date?string.short}</span></li>
                          <li class="visible-xs"><#if task.open><span class="task-open">Open</span><#else><span class="task-closed">Closed</span></#if></li>
                          <li><a href="${request.getContextPath()}/projects/tasks/${task.key}"><span class="text-primary">Show Task <i class="fa fa-chevron-right"></i></span></a></li>
                        </ul>
                      </div>
                    </div>
                   </#list> 
                   <#else>
                   <div class="listing-ver-3 task-item">
                      <div class="listing-heading">
                       
                   <h5>No Job Offers</h5>
                      </div>
                   </div>
                   </#if>
                  </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modal-dashboard" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Job Application Details</h5>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="folow-persons">
              <div id="modal-joboffer-state" class="pull-right"></div>
          <div class="fol-name">
            <div class="img-block avatar-table"></div>
            <a id="modal-developer-name" href="#" target="_blank">Ronnie Wood</a>
            <span id="modal-developer-headline">iOS Developer</span> 
          </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="row" style="padding:0 10px;">
              <div class="col-sm-6">
                 <h6 class="input-label">Project</h6>
                    <a id="modal-project-name" target="_blank" href="#">Project Name</a> 
              </div>
              <div class="col-sm-6">
                  <h6 class="input-label text-right">Task</h6>
                  <a id="modal-task-name" class="pull-right" target="_blank" href="#">Task Name</a>
              </div>
          </div>   
      </div>
        <br>
      <div class="modal-footer">
        <button type="button" data-dev-id="" id="accept-button" class="modal-button btn btn-success">Accept</button>
        <button type="button" data-task-id="" id="decline-button" class="modal-button btn btn-error">Decline</button> 
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
<script>
$(document).ready(function(){
    var ctx = "${request.getContextPath()}";
    var modal_joboffer_state = $('#modal-joboffer-state');
    var modal_dev_name= $("#modal-developer-name");
    var modal_dev_headline = $("#modal-developer-headline");
    var modal_project_name = $('#modal-project-name');
    var modal_task_name = $('#modal-task-name');
    var alert_joboffers = $("#alert-joboffers");
    var modal = $("#modal-dashboard");
    var n_joboffers = $("#nJobApplications");
    var modal_buttons = $(".modal-button");
    
    var class_state, name_state;
    $(".entry-dashboard").click(function(e){
        e.preventDefault();
        if($(this).data("joboffer-state") == 0){
            class_state = "primary";
            name_state = "Pending";
            modal_buttons.data("dev-id", $(this).data("dev-id"));
            modal_buttons.data("task-id", $(this).data("task-id"));
        }else{
            if($(this).data("joboffer-state") > 0){
                class_state = "success";
                name_state = "Accepted";
            }else{
                class_state = "error";
                name_state = "Declined";
            }
        }
        modal_joboffer_state.html('<span class="btn btn-' + class_state + ' btn-small btn-table">' + name_state + '</span>');
        //modal_dev_name.text($(this).data("dev-name"));
        modal_dev_name.text($(this).data("dev-name")).attr("href", "${request.getContextPath()}/developers/" + $(this).data("dev-id"));
        modal_dev_headline.text($(this).data("dev-headline"));
        modal_project_name.text($(this).data("project-name")).attr("href", "${request.getContextPath()}/projects/" + $(this).data("project-id"));
        modal_task_name.text($(this).data("task-name")).attr("href", "${request.getContextPath()}/projects/tasks/" + $(this).data("task-id"));;
        $('#modal-dashboard').modal();
    });
    
    $("body").on("click", "#accept-button", function(e){
        var button = $(this);
        var task_key = button.data("task-id");
        var dev_key = button.data("dev-id");
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/dashboard/proposals/accept_proposal',
            data: {
                task_key: task_key,
                state: 1,
                sender: dev_key,
                developer_key: dev_key
                
            },
            success: function (response) {
                debugger;
                modal.modal("toggle");
                
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard .btn-table").removeClass("btn-primary").addClass("btn-success").text("Accepted");
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard").data("joboffer-state", 1).removeClass("entry-dashboard").unbind("click");
                //$("#entry-" + task_key + "-" + dev_key).remove();
                //var x = n_joboffers.text();
                //n_joboffers.text(x-1);
                //alert_joboffers.html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Well done!</strong> Your joboffer has been removed.</div>');
                //current_button.attr("disabled", "disabled").text("Invite Sent").removeClass("joboffer-button");
                //modal.modal("toggle");
            },
            error: function (data){
                console.log(data)
                modal.modal("toggle");
                
                debugger;
                //modal_alert.html('<div class="alert alert-error alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Ops!</strong> There is already a waiting joboffer.</div>');
                //button.removeClass("hidden");
            }
        });
    });
    
    $("body").on("click", "#decline-button", function(e){
        var button = $(this);
        var task_key = button.data("task-id");
        var dev_key = button.data("dev-id");
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/dashboard/proposals/accept_proposal',
            data: {
                task_key: task_key,
                state: -1,
                sender: dev_key,
                developer_key: dev_key
                
            },
            success: function (response) {
                debugger;
                modal.modal("toggle");
                
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard .btn-table").removeClass("btn-primary").addClass("btn-error").text("Declined");
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard").data("joboffer-state", -1).removeClass("entry-dashboard").unbind("click");
                //$("#entry-" + task_key + "-" + dev_key).remove();
                //var x = n_joboffers.text();
                //n_joboffers.text(x-1);
                //alert_joboffers.html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Well done!</strong> Your joboffer has been removed.</div>');
                //current_button.attr("disabled", "disabled").text("Invite Sent").removeClass("joboffer-button");
                //modal.modal("toggle");
            },
            error: function (data){
                console.log(data)
                modal.modal("toggle");
                
                debugger;
                //modal_alert.html('<div class="alert alert-error alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Ops!</strong> There is already a waiting joboffer.</div>');
                //button.removeClass("hidden");
            }
        });
    });
    
    
})

</script>