<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Dashboard</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="similar developer-list">
                  <!-- DEVELOPER -->
                    <div class="media">
                      <div class="media-left">
                          <div class="inn-simi"> <div class="media-object" alt=""></div><!-- <a href="#">Profile </a> --></div>
                      </div>
                      <div class="media-body">
                          <h4 class="pt30"><a class="title-developer-list" href="${request.getContextPath()}/developers/${dev.key}"><#if (dev.name == "" && dev.surname == "")>${dev.username}<#else>${dev.name} ${dev.surname}</#if></a></h4>
                        <p>${dev.headline}</p>
                        <div class="com-rate"><span>
                              <#list 1..5 as i>
                                  <#if (i > votes)>
                                  <i class="fa fa-star-o"></i>
                                  <#else>
                                  <i class="fa fa-star"></i>
                                  </#if>
                              </#list>
                              </span></div>
                        <!--<br>
                        <a href="#">New York, USA</a>-->
                        <div>
                            <#assign dec = dev.getTextBio()>
                              <#if (dec?length > 251)>
                                  ${dec?substring(0, 250)}... <a href="${request.getContextPath()}/developers/${dev.key}">read more</a>
                              <#else>
                                 ${dec} <a href="${request.getContextPath()}/developers/${dev.key}"> read more</a>
                              </#if>
                        </div>

                        <!--Share 
                        <div class="share-w pt30"><a href="#."><i class="fa fa-envelope-o"></i></a> <a href="#."><i class="fa fa-envelope-o"></i></a></div>-->
                      </div>
                    </div>

                    <!-- END DEVELOPER -->
                  </div>
              </div>
          </div>
        <div class="row"> 
          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="network pt50">
              
              <!-- Nav Tabs -->
              <ul class="nav nav-tabs">
                  <li><a href="${request.getContextPath()}/dashboard/invitations#invitations">Invitations (<span id="nInvitations">${nInvitations}</span>)</a></li>
                <li class="active"><a href="#">Requests (<span id="nRequests">${requests?size}</span>)</a></li>
                <li><a href="${request.getContextPath()}/dashboard/proposals#proposals">Collaboration Proposals (<span id="nProposals">${nProposals}</span>)</a></li>
                <li><a href="${request.getContextPath()}/dashboard/job_applications#job_applications">Your Job Applications (<span id="nJobApplications">${nJobApplications}</span>)</a></li>
                <li><a href="${request.getContextPath()}/dashboard/job_offers#job_offers">Job Offers</a></li>
                
              </ul>
              <hr>
              <!-- Tab Content -->
              <div class="tab-content"> 
                
                <!-- Connections -->
                <div id="requests" class="tab-pane fade in active">
                  <div class=""> 
                      
                    <!-- Filter -->
                    <div class="filter-flower">
                        <!--<p>Lorem ipsu umanu est</p>-->
                      <div class="row">
                        <div class="col-sm-7">
                            <p>Collaborations requests that developers sent to you to collaborate in your own projects. Click on a request for more details.</p>
                          <!--<a href="#." class="active btn btn-error"><i class="fa fa-trash"></i></a>-->
                        </div>
                        
                        <!-- Short -->
                        <div class="col-sm-5">
                          <select>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div id="alert-requests"></div>
                    <!-- Members -->
                    <div class="main-mem table-blue"> 
                      
                      <!-- Head -->
                      
                      
                      <!-- Tittle -->
                      <div class="tittle">
                        <ul class="row">
                          <li class="col-xs-3"> <span>Developer</span> </li>
                          <li class="col-xs-3"> <span>Project</span> </li>
                          <li class="col-xs-4"> <span>Task</span> </li>
                          <li class="col-xs-1 n-p-r n-p-l text-center"> <span>Date</span> </li>
                          <li class="col-xs-1 text-center"> <span>State</span> </li>
                        </ul>
                      </div>
                      
                      <!-- Tittle -->
                      <div class="folow-persons">
                        <ul>
                         <#if requests?has_content>
                         <#list requests as request>
                          <!-- MEMBER -->
                           <li id="entry-${request.getTaskKey()}-${request.getSender_key()}">
                            <!-- Check Box 
                            <div class="checkbox">
                              <input id="checkbox7" class="styled" type="checkbox">
                              <label for="checkbox7"></label>
                            </div>-->
                            <span class="<#if (request.state == 0)>entry-dashboard</#if>" 
                               <#assign name=request.getSender().name>
                               <#assign surname=request.getSender().surname>
                               <#if (name != "") && (surname!="")>
                                        data-dev-name="${name} ${surname}"
                                   <#else>
                                        data-dev-name="${request.getSender().username}"
                                   </#if>
                                data-dev-headline="${request.getSender().headline}" data-project-name="${request.getTaskByRequest().getProject().name}" data-task-name="${request.getTaskByRequest().name}" data-request-state="${request.state}" data-task-id="${request.getTaskKey()}" data-dev-id="${request.getSender_key()}" data-project-id="${request.getTaskByRequest().getProject().key}">
                            <div class="row"> 
                              <!-- Title -->
                              <div class="col-xs-3"> 
                                
                                <!-- Name -->
                                <div class="fol-name">
                                    <div class="img-block avatar-table"></div>
                                   <#if (request.getSender().name != "") && (request.getSender().surname!="")>
                                    <h6>${request.getSender().name} ${request.getSender().surname}</h6>
                                   <#else>
                                   <h6>${request.getSender().username}</h6>
                                   </#if>
                                  <span>${request.getSender().headline}</span> </div>
                              </div>
                              <!-- Location -->
                              <div class="col-xs-3 n-p-r n-p-l"> <span>${request.getTaskByRequest().getProject().name}</span> </div>
                              <!-- Network -->
                              <div class="col-xs-4 n-p-r"> <span><a href="${request.getContextPath()}/projects/tasks/${request.getTaskByRequest().key}">${request.getTaskByRequest().name}</a></span> </div>
                              <!-- Connections -->
                              <div class="col-xs-1 n-p-r n-p-l text-center"> <span>${request.getDate().time?date?string("dd/MM/yyyy")}</span> </div>
                              <#if (request.state == 0)>
                              <div class="col-xs-1 n-p-r n-p-l text-center"> <span class="btn btn-primary btn-small btn-table">Pending</span> </div>
                              <#else>
                                <#if (request.state  > 0)>
                                    <div class="col-xs-1 n-p-r n-p-l text-center"> <span class="btn btn-success btn-small btn-table">Accepted</span> </div>
                                <#else>
                                    <div class="col-xs-1 n-p-r n-p-l text-center"> <span class="btn btn-error btn-small btn-table">Declined</span> </div>
                                </#if>
                              </#if>
                            </div>
                            </span>
                          </li>
                          <!-- END MEMBER -->
                          </#list>
                          <#else>
                            <li style="padding-left: 35px">
                            <!-- Check Box 
                            <div class="checkbox">
                              <input id="checkbox7" class="styled" type="checkbox">
                              <label for="checkbox7"></label>
                            </div>-->
                            
                            <div class="row"> 
                              <!-- Title -->
                              <div class="col-xs-3"> 
                                
                                <!-- Name -->
                                
                                    <h5>No Requests</h5>
                               
                              </div>
                              
                              
                            </div>
                          </li>
                          </#if>
                        </ul>
                      </div>
                     <!-- END TAB-->
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modal-dashboard" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Details</h5>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="folow-persons">
              <div id="modal-request-state" class="pull-right"></div>
          <div class="fol-name">
            <div class="img-block avatar-table"></div>
            <a id="modal-developer-name" href="#" target="_blank">Ronnie Wood</a>
            <span id="modal-developer-headline">iOS Developer</span> 
          </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="row" style="padding:0 10px;">
              <div class="col-sm-6">
                 <h6 class="input-label">Project</h6>
                    <a id="modal-project-name" target="_blank" href="#">Project Name</a> 
              </div>
              <div class="col-sm-6">
                  <h6 class="input-label text-right">Task</h6>
                  <a id="modal-task-name" class="pull-right" target="_blank" href="#">Task Name</a>
              </div>
          </div>   
      </div>
        <br>
      <div class="modal-footer">
        <button type="button" data-dev-id="" id="accept-button" class="modal-button btn btn-success">Accept</button>
        <button type="button" data-task-id="" id="decline-button" class="modal-button btn btn-error">Decline</button> 
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
<script>
$(document).ready(function(){
    var ctx = "${request.getContextPath()}";
    var modal_request_state = $('#modal-request-state');
    var modal_dev_name= $("#modal-developer-name");
    var modal_dev_headline = $("#modal-developer-headline");
    var modal_project_name = $('#modal-project-name');
    var modal_task_name = $('#modal-task-name');
    var alert_requests = $("#alert-requests");
    var modal = $("#modal-dashboard");
    var n_requests = $("#nRequests");
    var modal_buttons = $(".modal-button");
    
    var class_state, name_state;
    $(".entry-dashboard").click(function(e){
        e.preventDefault();
        if($(this).data("request-state") == 0){
            class_state = "primary";
            name_state = "Pending";
            modal_buttons.data("dev-id", $(this).data("dev-id"));
            modal_buttons.data("task-id", $(this).data("task-id"));
        }else{
            if($(this).data("request-state") > 0){
                class_state = "success";
                name_state = "Accepted";
            }else{
                class_state = "error";
                name_state = "Declined";
            }
        }
        modal_request_state.html('<span class="btn btn-' + class_state + ' btn-small btn-table">' + name_state + '</span>');
        //modal_dev_name.text($(this).data("dev-name"));
        modal_dev_name.text($(this).data("dev-name")).attr("href", "${request.getContextPath()}/developers/" + $(this).data("dev-id"));
        modal_dev_headline.text($(this).data("dev-headline"));
        modal_project_name.text($(this).data("project-name")).attr("href", "${request.getContextPath()}/projects/" + $(this).data("project-id"));
        modal_task_name.text($(this).data("task-name")).attr("href", "${request.getContextPath()}/projects/tasks/" + $(this).data("task-id"));;
        $('#modal-dashboard').modal();
    });
    
    $("body").on("click", "#accept-button", function(e){
        var button = $(this);
        var task_key = button.data("task-id");
        var dev_key = button.data("dev-id");
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/dashboard/proposals/accept_proposal',
            data: {
                task_key: task_key,
                state: 1,
                sender: dev_key,
                developer_key: dev_key
                
            },
            success: function (response) {
                debugger;
                modal.modal("toggle");
                
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard .btn-table").removeClass("btn-primary").addClass("btn-success").text("Accepted");
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard").data("request-state", 1).removeClass("entry-dashboard").unbind("click");
                //$("#entry-" + task_key + "-" + dev_key).remove();
                //var x = n_requests.text();
                //n_requests.text(x-1);
                //alert_requests.html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Well done!</strong> Your request has been removed.</div>');
                //current_button.attr("disabled", "disabled").text("Invite Sent").removeClass("request-button");
                //modal.modal("toggle");
            },
            error: function (data){
                console.log(data)
                modal.modal("toggle");
                
                debugger;
                //modal_alert.html('<div class="alert alert-error alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Ops!</strong> There is already a waiting request.</div>');
                //button.removeClass("hidden");
            }
        });
    });
    
    $("body").on("click", "#decline-button", function(e){
        var button = $(this);
        var task_key = button.data("task-id");
        var dev_key = button.data("dev-id");
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/dashboard/proposals/accept_proposal',
            data: {
                task_key: task_key,
                state: -1,
                sender: dev_key,
                developer_key: dev_key
                
            },
            success: function (response) {
                debugger;
                modal.modal("toggle");
                
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard .btn-table").removeClass("btn-primary").addClass("btn-error").text("Declined");
                $("#entry-" + task_key + "-" + dev_key + " .entry-dashboard").data("request-state", -1).removeClass("entry-dashboard").unbind("click");
                //$("#entry-" + task_key + "-" + dev_key).remove();
                //var x = n_requests.text();
                //n_requests.text(x-1);
                //alert_requests.html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Well done!</strong> Your request has been removed.</div>');
                //current_button.attr("disabled", "disabled").text("Invite Sent").removeClass("request-button");
                //modal.modal("toggle");
            },
            error: function (data){
                console.log(data)
                modal.modal("toggle");
                
                debugger;
                //modal_alert.html('<div class="alert alert-error alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Ops!</strong> There is already a waiting request.</div>');
                //button.removeClass("hidden");
            }
        });
    });
    
    
})

</script>