<!-- Dashboard Side Bar Wrap Start -->
<div class="col-md-4">
    <div class="gt-user-sidebar">
        <div class="gt_d_author_wrap">
            <div class="gt_d_author_pic">
                <figure>
                    <img src=${foto_profilo} alt="">
                </figure>
            </div>
            <div class="gt_d_author_pic_des">
                <h5 id="username">${username}</h5>
                <span class="gt_hdg_span"></span>
                <p>${fullname}</p>
            </div>
        </div>
        <div class="gt-usser-account-list">
            <ul>
                <li ><a href="DeveloperProfile?n=${id}"><i class="fa fa-user-circle-o gt-color"></i>Profile</a></li>
                <li><a href="DeveloperProjects?n=${id}"><i class="fa fa-code gt-color"></i>Projects</a></li>
                <li class="active"><a href="DeveloperCollaborators?n=${id}"><i class="fa fa-users gt-color"></i>Collaborators</a></li>
                <li><a href="DeveloperCollaborations?n=${id}"><i class="fa fa-handshake-o gt-color"></i>Collaborations</a></li>
                <li><a href="DeveloperSkills?n=${id}"><i class="icon-book gt-color"></i>Skills</a></li>
        </div>
    </div>
</div>
<!-- Dashboard Side Bar Wrap End -->
<div class="container">
    <div class="col-md-8">
        <!--Advance Search Wrap Start-->
        
        <!--Progetto-->
        <div class="gt_advacnce_search_wrap default_width">
            <div class="gt_aside2_hdg mb30 gt_aside_category title-add-skill mc-project-title"> <!-- gt_aside_category -->
                <h5>Collaborators</h5>
            </div>
            <div class="lista-skill gt_aside_category content-none">
                <ul class="gt_aside_fea_course">
                    
                    <#if collaborators?has_content>
                    <#list collaborators as collaborator>
                    <!--TASK-->
                    
                    
                    <li>
                        <div class="col-md-9">
                            <figure>
                                <#if collaborator.fotoFile??>
                                <img src="uploaded-images/${collaborator.fotoFile.localFile}" alt="">
                                <#else>
                                <img src="uploaded-images/foto_profilo_default.png" alt="">
                                </#if>
                            </figure>
                            <div class="aside_fea_course_des">
                                <h5><a href="DeveloperProfile?n=${collaborator.key}">${collaborator.username}</a></h5>
                            </div>
                        </div>
                        
                    </li>
                    
                    
                    </#list>
                    <#else> <li>You do not have any collaborators yet  </li> 
                    </#if>
                    
                    
                </ul>
            </div> 
        </div>   
        
    </div>                    
</div>



