
  
  <!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Developers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- search -->
  <div class="search-proo ">
    <div class="map-search pb0">
      <div class="container">
        <div class="row">
            <form id="form-filter" action="${request.getContextPath()}/developers/filter" method="post">
                <input type="hidden" id="form-data" name="data">
          <div class="col-md-12">
            <!--<div class="map-search-fields" style="padding-left: 0">
                <div class="field" style="width: 90%;">
                <input type="text" placeholder="Username">
                </div>
            </div>
            <div class="search-button">
              <button>Search Developers</button>
            </div>-->
            
                    <div class="row">
                  <div class="col-sm-6">
                      
                      <select name="select_skill" id="select-skill" class="js-example-placeholder-single" style="width: 100%; display: inline;">
                          <option></option>
                          <#list skills as skill>
                            <option class="option-skills" value="${skill.key}" data-name="${skill.name}">${skill.name}</option>
                          </#list>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <select id="level-skill">
                          <option></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <a class="btn btn-primary btn-block" id="add-new-skill">Add Skill</a>
                  </div>
                  <div class="col-sm-2">
                      <input id="filter-button" class="btn btn-success btn-block" type="submit" value="filter">
                  </div>
                      
              </div>
          
                    <ul id="skills-list"></ul>
           
          </div>
            </form>
            <#if query??>
                <div class="col-md-12">
                <h2>Results for: <span class="text-primary"></span></h2>
                <#list query as q>
                    <div class="row" style="margin: 15px 0 0">
                        <div class="col-xs-6" style="padding-left: 0;">
                            <div class="uou-progressbar-single">
                        <#list q as key, value>
                        <h6>${key}</h6>
                        <span class="main-bar"> <span class="inner-bar" style="width: ${value}0%"></span> <a class="progress-percent">${value}</a> </span> 
                        </#list>
                            </div>
                        </div>
                    </div>
                </#list>
                <a href="${request.getContextPath()}/developers" class="btn btn-primary">remove filter</a>
                 </div>
            </#if>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Members 
  <section class="pro-mem">
    <div class="container pb30">
      <div class="row">
  
        <div class="col-sm-4">
          <div class="uou-block-6a top-developer-block"><div class="img-block rounded img-avatar" style="background-image: url('theme/images/member-1.png')"></div>
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="uou-block-6a top-developer-block"><div class="img-block rounded img-avatar" style="background-image: url('theme/images/member-2.png')"></div>
            <h6>Wade Jeffree <span>Sales Consultant</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="uou-block-6a top-developer-block"> <div class="img-block rounded img-avatar" style="background-image: url('theme/images/member-3.png')"></div>
            <h6>Stefan Sagmeister <span>Web Developer</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    -->
    <hr> 
    <div class="container pb30">
      <div class="similar developer-list">
        <#if devs?has_content>  
          <#list devs as dev>
          <!-- DEVELOPER -->
          <div class="media">
            <div class="media-left">
                <div class="inn-simi"> <div class="media-object" <#if dev.picture??>style="background-image:url('${request.getContextPath()}/uploads/images/${dev.picture}')"</#if> alt=""></div><!-- <a href="#">Profile </a> --></div>
            </div>
            <div class="media-body">
                <h4 class="pt30"><a class="title-developer-list" href="${request.getContextPath()}/developers/${dev.key}"><#if (dev.name == "" && dev.surname == "")>${dev.username}<#else>${dev.name} ${dev.surname}</#if></a></h4>
              <p>${dev.headline}</p>
              <div class="com-rate"><span>
                    <#list 1..5 as i>
                        <#if (i > votes[dev?index])>
                        <i class="fa fa-star-o"></i>
                        <#else>
                        <i class="fa fa-star"></i>
                        </#if>
                    </#list>
                    </span></div>
              <!--<br>
              <a href="#">New York, USA</a>-->
              <div>
                  <#assign dec = dev.getTextBio()>
                    <#if (dec?length > 251)>
                        ${dec?substring(0, 250)}... <a href="${request.getContextPath()}/developers/${dev.key}">read more</a>
                    <#else>
                       ${dec} <a href="${request.getContextPath()}/developers/${dev.key}"> read more</a>
                    </#if>
              </div>
              
              <!--Share 
              <div class="share-w pt30"><a href="#."><i class="fa fa-envelope-o"></i></a> <a href="#."><i class="fa fa-envelope-o"></i></a></div>-->
            </div>
          </div>
          
          <!-- END DEVELOPER -->
          </#list>
        <#else>
        <h2>No developer found</h2>
        </#if>
         </div>
    </div>
    
  </section>
<script>
    

    $(document).ready(function(){
        var ctx = "${request.getContextPath()}";
        var select_skill = $('#select-skill');
        var level_skill = $('#level-skill');
        var skillSearchTemplate;
        
        select_skill.select2({
            placeholder: "Select a skill",
            allowClear: true
        });
        
        //skills
        var id_skill = 0;
        var skills = {};
        var options = {};
        var skills_list = $("#skills-list");
        $.get(ctx + "/templates/mustache/skillSearchTemplate.html", function(t){
                skillSearchTemplate = t;
        });
        $('#add-new-skill').click(function(e){
            e.preventDefault();
            $('.error-text').empty();
            var validate = true;
            //CONTROLLI
            if (select_skill.val() === null || select_skill.val() === "") {
                validate = false;
                select_skill.after('<span class="error-text">Selected skill is missing.</span>');
            }
            
            if (level_skill.val() === null || level_skill.val() === "") {
                validate = false;
                level_skill.before('<span class="error-text">Skill level is missing.</span>');
            }
            
            if (!validate) {
                return false;
            }
            var key = select_skill.val();
            options[key] = select_skill.find(":selected")[0];
            skills[id_skill] = {
                "name": $(options[key]).data("name"),
                "key": key,
                "level": level_skill.val(),
                "id": id_skill
            }
            skills_list.append(Mustache.render(skillSearchTemplate, skills[id_skill]))
            id_skill++;
            $(options[key]).attr("disabled", "disabled");
            select_skill.select2();
            select_skill.select2("val", "");
            level_skill.get(0).selectedIndex = 0;
        })
        $("body").on("click", '.remove-skill-button', function(e){
            e.preventDefault();
            var id = $(this).data("id");
            var key = $(this).data("key");
            delete skills[id];
            $(options[key]).removeAttr("disabled");
            select_skill.select2();
            delete options[key];
            $("#skill-" + id).remove();
        });
        $("#form-filter").submit(function(e){
            //CONTROLLI
            if ($('#skills-list li').length === 0) return false;
            debugger;
            $("#form-data").val(JSON.stringify(skills))
            return true;
        })
    })
</script>