<div class="row pl-border-b">
    <div class="col-md-12">
        <div class="get_started_services mb30 pl-no-border">
            <i class="fa fa-users"></i>
            <div class="get_icon_des">
                <h5>SEARCH DEVELOPER</h5>
                <p>Find the developer you need, selecting the skill and its level.<br/> &nbsp;</p>
                <form method="post" action="FindDeveloper?n=1">
                    <div class="col-md-4">
                        <div class="select-style-circle">
                            <select class="skillSelect" name="skill">
                                <option value="">Select Skill</option>
                                <#list skills as skill>
                                <option class="${skill.type_key}" value="${skill.key}">${skill.name}</option>
                                <#list skill.child as child>
                                <option class="${skill.type_key}" value="${child.key}"> - ${child.name}</option>
                                </#list>
                                </#list>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="select-style-circle">
                            <select id="select-level" class="levelSelect" name="level">
                                <option value="">Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="1">6</option>
                                <option value="2">7</option>
                                <option value="3">8</option>
                                <option value="4">9</option>
                                <option value="5">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="search-dev">
                            <input type="submit" class="btn btn-default findDeveloper" value="Search" >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="gt_hdg_1 default_width pl-desc">
    <h3>Explore all the Developers</h3>
    <p>Search a developer by username or explore the list of developers below<br></p>
    <span class="gt_hdg_left"></span>
    <i class="icon-school"></i>
    <span class="gt_hdg_right"></span>
</div>
<div class="row">
    <div class="col-md-9 col-sm-8">
        <div class="gt_course_search default_width">
            <form id="findByKeyWord" action="SearchDeveloper" method="post">
                <input type="search" name="username" placeholder="Search Developers by Username">
                <a id="submitsearch"><i class="fa fa-search"></i></a>
            </form>
        </div>
    </div>
</div>
    
<div class="row projects">
    <#if listasviluppatori?size != 0>
    <#list listasviluppatori as sviluppatore>
    <div class="col-md-4">
        <div class="owl-item cloned"><div class="item">
                <div class="gt_courses_wrap default_width single-dev-pl">
                    <figure>
                        <figcaption class="gt_course_img_des">
                            <div class="gt_course_des_holder projectCoordinator">
                                <div class="gt_course_author pl-img">
                                    <img src=${foto[sviluppatore?index]} alt="">
                                    <a class="dev-name" href="DeveloperProfile?n=${sviluppatore.key}">${sviluppatore.name?cap_first} ${sviluppatore.surname?cap_first}</i></a>
                                </div>
                            </div>
                            <div class="gt_course_cat gt_bg_4">New</div>
                        </figcaption>
                    </figure>
                    <div class="gt_course_des projectDescription default_width">
                        <h5><a href="DeveloperProfile?n=${sviluppatore.key}">${sviluppatore.username?cap_first}</a></h5>
                        <p class="description_project2" >${sviluppatore.mail}</p>
                    </div>
                    <div class="gt_course_bottom default_width dev-prog">
                        <h5>${progetto[sviluppatore?index]}<span><a href="DeveloperProjects?n=${sviluppatore.key}">Progetti</a></span></h5>
                        <a href="DeveloperCollaborations?n=${sviluppatore.key}"><h5>${voto[sviluppatore?index]}<span>Voto</span></h5></a>
                            
                    </div>
                </div>
            </div></div>
    </div>
    </#list>
    <div class="gt_pagination_outer_wrap">
        <ul>
            
            <#list 1..page as i>
            <#if i gte 1>
            <#if selected?number == i ><li class="active"><a  href="FindDeveloper?n=${i}">${i}</a></li><#else><li><a href="FindDeveloper?n=${i}">${i}</a></li></#if>
            </#if>
            </#list>
        </ul>
    </div>
    <#else>
    <h1>${nontrovato}</h1>
</div>
</#if>
    
    
    
    