
<div class="gt_lgin_tab_wrap home_background_login">
    <ul class="gt_login_link"  data-tabs="tabs">
        <li><a data-toggle="tab" href="#register">Sign Up</a></li>
        <li class="active"><a data-toggle="tab" href="#login">Sign In</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="login">
            <div class="gt_login_des_wrap default_width">
                <form id="login" action="Login" method="post">
                    <div class="gt_login_field">
                        <input type="text" name="username" id="mail-username" placeholder="Your Email/Username..">
                        <label><i class="fa fa-user-circle"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="text" name="pwd" id="pwd" placeholder="Your Password">
                        <label><i class="fa fa-lock"></i></label>
                    </div>
                    
                    <div class="gt_login_radio_btn">
                        <input id="2" type="checkbox">
                        <label for="2"><span></span>Keep Me logged In</label>
                    </div>
                    
                    <div class="gt_login_field">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <div class="gt_login_field">
                    
                    <p>Signin with Social Networks</p>
                    <ul class="gt_scl_icon">
                        <li><a class="bg_fb" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="bg_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="bg_gp" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="bg_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="bg_behance" href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a class="bg_vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li><a class="bg_youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="register">
            <div class="gt_login_des_wrap default_width">
                <form id="registrati" action="Signup" method="post">
                    <div class="gt_login_field">
                        <input type="text" name="first_name" placeholder="First Name">
                        <label><i class="fa fa-user"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="text" name="second_name" placeholder="Last Name">
                        <label><i class="fa fa-user"></i></label>
                    </div>  
                    <div class="gt_login_field">
                        <input type="text" name="username" placeholder="Username">
                        <label><i class="fa fa-user-circle"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" name="birthdate" placeholder="Birthdate dd/mm/yyyy" />
                        <label><i class="fa fa-calendar"></i></label>
                    </div>    
                    <div class="gt_login_field">
                        <input type="text" name="mail" placeholder="Your Email Address">
                        <label><i class="fa fa-envelope"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="password" name="pwd" placeholder="Your Password">
                        <label><i class="icon-lock"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="password" name="pwd2" placeholder="Confirm password">
                        <label><i class="icon-lock"></i></label>
                    </div>
                    <div class="gt_login_field">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

