<!-- Dashboard Side Bar Wrap Start -->
<div class="col-md-4">
    <div class="gt-user-sidebar">
        <div class="gt_d_author_wrap">
            <div class="gt_d_author_pic">
                <figure>
                    <img src=${foto_profilo} alt="">
                </figure>
            </div>
            <div class="gt_d_author_pic_des">
                <h5 id="username">${username}</h5>
                <span class="gt_hdg_span"></span>
                <p>${fullname}</p>
            </div>
        </div>
        <div class="gt-usser-account-list">
            <ul>
                <li><a href="MyProfile"><i class="fa fa-user-circle-o gt-color"></i>My Profile</a></li>
                <li><a href="MyProjects"><i class="fa fa-code gt-color"></i>My Projects</a></li>
                <li><a href="MyCollaborators"><i class="fa fa-users gt-color"></i>My Collaborators</a></li>
                <li><a href="MyCollaborations"><i class="fa fa-handshake-o gt-color"></i>My Collaborations</a></li>
                <li class="active"><a href="MySkills"><i class="icon-book gt-color"></i>My Skills</a></li>
                <li><a href="UpdateProfile"><i class="fa fa-upload"></i>Update Profile</a></li>
                <li><a href="CreateProject"> <i class="fa fa-plus-circle"></i>New Project</a></li>
                    
            </ul>
            <a href="Logout" class="gt-logout"><i class="icon-arrows-2 gt-color"></i>Logout</a>
        </div>
    </div>
</div>
<!-- Dashboard Side Bar Wrap End -->
<div class="container">
    <div class="col-md-8">
        <!--Advance Search Wrap Start-->
        <div class="gt_advacnce_search_wrap default_width">
            <div class="gt_aside2_hdg mb30 gt_aside_category title-add-skill"> <!-- gt_aside_category -->
                <h5>Manage Skills</h5>
            </div>
            <div class="add-skill"><!-- gt_advacnce_search_wrap default_width -->
                <div class="gt_explore_search gt_clas_search select-skill"> <!-- gt_aside_field -->         
                    <select id="select-skill" class="find_course_search">
                        <option="">Select Skill</option>
                            
                        <#list skills as skill>
                        <option value="${skill.key}">${skill.name}</option>
                        <#list skill.child as child>
                        <option value="${child.key}"> - ${child.name}</option>
                        </#list>
                        </#list>
                    </select>
                        
                </div>
                <div class="gt_explore_search gt_clas_search select-skill">            
                    <select id="select-level" class="find_course_search">
                        <option value="">Level</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="gt_explore_search gt_clas_search select-skill">                          
                    <input id ="add-button" type="button" class="add-button add-skill-btn" value="Add">
                </div>
                    
            </div>
            <form>
                <div class="lista-skill gt_aside_category">
                    <ul class="list-skill">
                        <#list skills_level?keys as skill>
                        <li><a class='skill-name'>${skill.name}</a><a id="skill-level">${skills_level?values[skill?index]}</a>
                            <span><button onclick="remove_skill(this)" type="button" id="rm-skill-btn" class="btn btn-default btn-sm remove-skill-button rm-skill-btn">
                                    <span class="glyphicon glyphicon-remove"></span></button></span></li>
                        </#list>
                    </ul>
                </div>
                <input type="text" value=${userid} name="userid" id="userid" class="hidden">
                <!--<h5 id="userid">${userid}</h5>-->
                <!--<input type="text" name="skills" id="skills-input" value="${skill-input}" class="hidden">-->
            </form>
        </div>   
    </div>                    
</div>
    
    
    