<!-- SIDE BAR -->
  <div class="col-md-4"> 
    <!-- Company Information -->
    <div class="pt50">
      <div class="img-block avatar-pic"></div>
      <h5 class="title-bar pt30">Mike Tomlinson</h5>
      <p>@MikeTomlinson</p>
    <!-- OPTIONS -->
      <div class="sidebar-information">
        <div class="profile-usermenu">
          <ul class="nav nav-links">
            <li> <a href="#."> <i class="fa fa-tachometer"></i> Overview </a> </li>
            <li class="active"> <a href="#."> <i class="fa fa-group"></i> Profile </a> </li>
            <li> <a href="#."> <i class="fa fa-plus-circle"></i> Account </a> </li>
            <li> <a href="#."> <i class="fa fa-cog"></i> Settings </a> </li>
            <li> <a href="#."> <i class="fa fa-sign-out"></i> Sign out </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
