<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>${page_title}</title>

<!-- Fonts Online -->
<link href="/theme/css/css.css" rel="stylesheet" type="text/css">
<link href="/theme/css/css_1.css" rel="stylesheet" type="text/css">

<!-- Style Sheet -->
<link rel="stylesheet" href="${request.getContextPath()}/theme/css/owl.carousel.css">
<link rel="stylesheet" href="${request.getContextPath()}/theme/css/select2.min.css">
<link rel="stylesheet" href="${request.getContextPath()}/theme/css/main-style.css">
<link rel="stylesheet" href="${request.getContextPath()}/theme/css/style.css">
<script src="${request.getContextPath()}/theme/js/jquery-2.1.3.min.js"></script> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div id="main-wrapper"> 
  
  <!-- Top Toolbar -->
  <div class="toolbar">
    <div class="uou-block-1a blog">
      <div class="container">
        
        
      </div>
    </div>
    <!-- end .uou-block-1a --> 
  </div>
  <!-- end toolbar -->
  
  <div class="box-shadow-for-ui">
    <div class="uou-block-2b">
      <div class="container"> 
        <a href="${request.getContextPath()}/home" class="logo" style="color:#0099ff">
            <i class="fa fa-code"></i>
          <!--<img src="theme/images/logo.png" alt="">-->
        </a>
                    <nav class="nav pull-left">
          <ul class="sf-menu">
          <li><form action="${request.getContextPath()}/search" id="search-menu-form"><input type="text" value="" placeholder="Search"><a href="#" id="search-button"><i class="fa fa-search"></i></a><input type="submit" hidden="true"></form></li>
          <li class="active"><a href="${request.getContextPath()}/home">HOME</a></li>
            <li> <a href="${request.getContextPath()}/projects">Projects</a></li>
            <li> <a href="${request.getContextPath()}/developers">Developers</a></li>
                    </ul>
                    </nav>
        <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
        <nav class="nav">
          <ul class="sf-menu">
              <li><form action="${request.getContextPath()}/search" id="search-menu-form"><input type="text" value="" placeholder="Search"><a href="#" id="search-button"><i class="fa fa-search"></i></a><input type="submit" hidden="true"></form></li>
            <li><a href="${request.getContextPath()}/signin">Sign In</a></li>
            <li><a href="${request.getContextPath()}/signin">Sign Up</a></li>
            <li><a href="${request.getContextPath()}/dashboard" id="notifications-icon" class="new-contents"><i class="fa fa-envelope"></i></a></li>
            <!--<li><a href="/signin" id="notifications-icon" class="new-contents"><i class="fa fa-tachometer"></i></a></li>-->
            <li id="avatar-menu"><a href="${request.getContextPath()}/user"><div></div></a>
              <ul style="display: none;">
                <li class="bordered">Signed in as<strong>Giuseppe Bianchi</strong></li>
                <li><a href="user">Your profile</a></li>
                <li><a href="user-dashboard(connections)(hotkeys-disabled).html">Your projects</a></li>
                <li class="bordered"><a href="user-dashboard(connections)(hotkeys-enabled).html">Your tasks</a></li>
                <li><a href="${request.getContextPath()}/settings/profile">Settings</a></li>
                <li><a href="blog-post.html">Sign Out</a></li>                
              </ul>
            </li>
            <!--<li class="search-block">
              <div class="search" method="get"> <a href="#" class="toggle fa fa-search"></a>
                 <form action="/search">
                  <input type="text" class="search-input" placeholder="Search ...">
                  <input id="search-button" type="submit" value="➜">
                </form>
              </div>
            </li>-->
          </ul>
        </nav>
      </div>
    </div>
    <!-- end .uou-block-2b --> 
  </div>
  
  
  <#include content_tpl>
  
  
</div>

<footer class="uou-block-4a secondary dark">
  <div class="container">
    <ul class="links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms &amp; Conditions</a></li>
    </ul>
    <p>Copyright &copy; 2017 <a href="#">Social Develop</a>. All Rights reserved.</p>
  </div>
</footer>
<!-- end .uou-block-4a -->

<div class="uou-block-11a">
  <h5 class="title">Menu</h5>
  <a href="#" class="mobile-sidebar-close">&times;</a>
  <nav class="main-nav">
    <ul>
      <li class="active"><a href="index.html">Index</a></li>
      <li> <a href="listing-filter.html">Professionals</a> </li>
      <li><a href="profile_company.html">Profile Company</a></li>
      <li><a href="profile_company-no-tabs.html">Profile Company No Tabs</a></li>
      <li><a href="user-dashboard(connections)(hotkeys-disabled).html">User Dashboard 1</a></li>
      <li><a href="user-dashboard(connections)(hotkeys-enabled).html">User Dashboard 2</a></li>
      <li><a href="user-dashboard(followers).html">User Dashboard 3</a></li>
      <li><a href="user-dashboard(following).html">User Dashboard 4</a></li>
      <li><a href="blog-post.html">Blog Post</a></li>
      <li> <a href="user-profile(layout-1).html">User Profile</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="gui-kit.html">GUI KIT</a></li>
    </ul>
  </nav>
  <hr>
</div>

<!-- Scripts --> 
<script src="${request.getContextPath()}/theme/js/js_1.js"></script> 
<script src="${request.getContextPath()}/theme/js/bootstrap.js"></script> 
<script src="${request.getContextPath()}/theme/js/superfish.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/jquery.ui.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/rangeslider.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/jquery.flexslider-min.js"></script> 
<script src="${request.getContextPath()}/theme/js/uou-accordions.js"></script> 
<script src="${request.getContextPath()}/theme/js/uou-tabs.js"></script> 
<script src="${request.getContextPath()}/theme/js/select2.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/owl.carousel.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/gmap3.min.js"></script> 
<script src="${request.getContextPath()}/theme/js/scripts.js"></script> 
<script>

</script>
</body>
</html>