<!-- Dashboard Side Bar Wrap Start -->
<div class="col-md-4">
    <div class="gt-user-sidebar">
        <div class="gt_d_author_wrap">
            <div class="gt_d_author_pic">
                <figure>
                    <img src=${foto_profilo} alt="">
                </figure>
            </div>
            <div class="gt_d_author_pic_des">
                <h5>${username}</h5>
                <span class="gt_hdg_span"></span>
                <p>${fullname}</p>
            </div>
        </div>
        <div class="gt-usser-account-list">
            <ul>
                <li><a href="MyProfile"><i class="fa fa-user-circle-o gt-color"></i>My Profile</a></li>
                <li><a href="MyProjects"><i class="fa fa-code gt-color"></i>My Projects</a></li>
                    
                <li><a href="MyCollaborators"><i class="fa fa-users gt-color"></i>My Collaborators</a></li>
                    
                <li><a href="MyCollaborations"><i class="fa fa-handshake-o gt-color"></i>My Collaborations</a></li>
                <li><a href="MySkills"><i class="icon-book gt-color"></i>My Skills</a></li>
                    
                <li><a href="UpdateProfile"><i class="fa fa-upload"></i>Update Profile</a></li>
                <li><a href="CreateProject"> <i class="fa fa-plus-circle"></i>New Project</a></li>
                    
            </ul>
            <a href="Logout" class="gt-logout"><i class="icon-arrows-2 gt-color"></i>Logout</a>
                
        </div>
    </div>
</div>
<!-- Dashboard Side Bar Wrap End -->
    
    
<!--Classes List Wrap Start-->
    
<div class="col-md-8">
    
    <div class="gt_d_classes_wrap default_width">
        <div class="gt_d_fav_courses default_width">
            <ul class="gt_d_fav_hdg">
                <li>Proposals</li>
                <li>State</li>
            </ul>
                
            <ul class="gt-shortlisted">
                <#if proposals?has_content>
                <#list proposals as proposal>
                <li id="${proposal.getTaskByRequest().key}">
                    
                    <div id="${proposal.sender_key}" class="gt-text grade-padding">
                        
                        <h5><a href="Project_Detail?n=${proposal.getTaskByRequest().getProject().key}">${proposal.getTaskByRequest().getProject().name?cap_first}</a></h5>
                        <h6><a href="Project_Detail?n=${proposal.getTaskByRequest().getProject().key}#${proposal.getTaskByRequest().key}"> Task: ${proposal.getTaskByRequest().name?cap_first}</a></h6>
                            
                        <h6 id="grade-right" class="icons"> 
                            <#if proposal.state==0>
                            <i class="fa fa-spinner fa-spin" style="font-size:40px;"></i>
                            <#else>
                            <i class="fa fa-check-circle-o" style="font-size:40px"></i>
                            </#if>
                        </h6>
                        <p>Start Date: ${proposal.getTaskByRequest().getStartDate().time?date?string("dd/MM/yyyy")} &nbsp; - &nbsp; End Date: ${proposal.getTaskByRequest().getEndDate().time?date?string("dd/MM/yyyy")}</p>
                            
                        <p>Task Description: &nbsp;${proposal.getTaskByRequest().description?cap_first}</p>
                            
                        <a href="DeveloperProfile?n=${proposal.sender_key}"><span><em>Project Coordinator: &nbsp;</em> ${proposal.getSender().username?cap_first} - ${proposal.getSender().mail}</span></a>
                        <#if proposal.state==0>
                        <div class="view-update">
                            <button class="btn btn-default accept-proposal">Accept</button>
                            <button class="btn btn-default decline-proposal">Decline</button>
                        </div>
                        </#if>
                    </div>
                </li>
                    
                </#list>
                <#else>
                <li> There are no proposals for you.</li>
                </#if>
            </ul>
                
                
        </div>
    </div>
        
</div>