
  
  <div class="compny-profile"> 
    <!-- SUB Banner -->
    <div class="profile-bnr user-profile-bnr overlay-up">
        <a class="overlay"></a>
      <div class="container overlay-up">
          <div class="user-page-info">
              <div class="img-block rounded" style="<#if foto != ''>background-image: url('${request.getContextPath()}/theme/images/uploads/${foto}');</#if> height:200px; width: 200px"></div>
               <h2>${fullname}</h2>
               <h5>@${username}</h5>
               <div class="right-top-bnr">
                <div class="connect">
                  <div class="bt-ns"> <a href="#."><i class="fa fa-thumbs-up"></i> </a> <a href="#."><i class="fa fa-facebook"></i> </a> </div>
                </div>
                </div>
          </div>
        
      </div>
      
    </div>
    
    <!-- Profile Company Content -->
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- Nav Tabs -->
          <div class="col-md-12 ">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#profile">Biography</a></li>
              <li><a href="${request.getContextPath()}/profile/skills">Skills</a></li>
              <li><a href="${request.getContextPath()}/profile/projects">Projects</a></li>
              <li><a href="${request.getContextPath()}/profile/collaborations">Collaborations</a></li>
              <li><a href="${request.getContextPath()}/profile/contact">Contact</a></li>
              <li class="pull-right"><a data-toggle="tab" href="#discussion">Dashboard</a></li>
            </ul>
              <hr>
          </div>
          
          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="tab-content"> 
              
              <!-- PROFILE -->
              <div id="profile" class="tab-pane fade in active">
              <!-- SIDE BAR -->
              <h3 class="tab-title">Biography</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <h5>Name</h5>
              <p>${fullname}</p>
              <h5>Job</h5>
              <p>${job}</p>
              <h5>Birth Date</h5>
              <p>${date}</p>
              <h5>About</h5>
              <#if bio != ''>
                <p>${bio}</p>
              <#else>
                <a href='${request.getContextPath()}/settings/profile'>Add Biography</a>
              </#if>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-main">
                    <h3 class="tab-title">Resume</h3>
                    <div class="tab-content-body">
                      <#if resume != ''>
                        <p>${resume}</p>
                      <#else>
                        <a href='${request.getContextPath()}/settings/profile'>Add Resume</a>
                      </#if>
    
                      
                    </div>
                </div>
                
                    <hr>
          </div>

          </div>
              </div>
              <!--Skills -->
              <div id="skills" class="tab-pane fade">
                    <h3 class="tab-title">Skills</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              
                    <h5>Developer's Rating</h5>
                    <div class="com-rate"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span></div>
                    <br>
             <h6 class="input-label">Add Skill</h6>
            <form id="add-skill-form" method="get" action="user/id/skill/add">
              <div class="row">
                  <div class="col-sm-8">
                      
                      <select name="select_skill" id="select-skill" class="js-example-placeholder-single" style="width: 100%; display: inline;">
                          <option></option>
                        <optgroup label="Alaskan/Hawaiian Time Zone">
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                          </optgroup>
                          <optgroup label="Pacific Time Zone">
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR">Oregon</option>
                            <option value="WA">Washington</option>
                          </optgroup>
                          <optgroup label="Mountain Time Zone">
                            <option value="AZ">Arizona</option>
                            <option value="CO">Colorado</option>
                            <option value="ID">Idaho</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NM">New Mexico</option>
                            <option value="ND">North Dakota</option>
                            <option value="UT">Utah</option>
                            <option value="WY">Wyoming</option>
                          </optgroup>
                          <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="IL">Illinois</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="OK">Oklahoma</option>
                            <option value="SD">South Dakota</option>
                            <option value="TX">Texas</option>
                            <option value="TN">Tennessee</option>
                            <option value="WI">Wisconsin</option>
                          </optgroup>
                          <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="IN">Indiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="OH">Ohio</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WV">West Virginia</option>
                          </optgroup>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <select id="level-skill">
                          <option>Level</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <input class="btn btn-success btn-block" id="add-new-skill" type="submit" value="Add Skill">
                  </div>
                      
              </div>
              </form>
              <hr>
              
                  
                    <div class="no-border">
                    
                      <div class="uou-tabs vertical accordion-xs categories-list">
                      

                        
                        <ul class="tabs col-sm-4">
                          <h5 class="main-title ">Types</h5>
                          <li class="active"><a href="#uou-tab-1v">Tab 1</a></li>
                          <li class=""><a href="#uou-tab-2v">Tab 2</a></li>
                          <li class=""><a href="#uou-tab-3v">Tab 3</a></li>
                        </ul>

                        <div class="content no-border col-sm-8">
                            <!-- Category Skills -->
                            <div class="active" id="uou-tab-1v">
                             <h5 id="title-tab-category" class="main-title">Name Category 1</h5>
                               <div class="uou-progressbar-single">
                                 <h6>Html &amp; Css</h6>
                                 <span class="main-bar"> <span class="inner-bar" style="width: 70%"></span> <a class="progress-percent">7</a> </span> 
                               </div>
                                 <div class="uou-progressbar-single">
                                 <h6>Html &amp; Css</h6>
                                 <span class="main-bar"> <span class="inner-bar" style="width: 70%"></span> <a class="progress-percent">7</a> </span> 
                               </div>
                            </div>
                            <div id="uou-tab-2v">
                            <h5 id="title-tab-category" class="main-title">Name Category 2</h5>
                              <div class="uou-progressbar-single">
                                <h6>Java &amp; Css</h6>
                                <span class="main-bar"> <span class="inner-bar" style="width: 70%"></span> <a class="progress-percent">7</a> </span> 
                              </div>
                                <div class="uou-progressbar-single">
                                <h6>Css &amp; Css</h6>
                                <span class="main-bar"> <span class="inner-bar" style="width: 70%"></span> <a class="progress-percent">7</a> </span> 
                              </div>
                           </div>
                        </div>


                  </div>
                  
                </div>
              </div>
              
              
              <!-- Jobs -->
              <div id="jobs" class="tab-pane fade">
                  <h3 class="tab-title">Collaborations (<span class="text-primary">23</span>)</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
                <ul class="nav nav-tabs">
                    <li><a>3 <span class="text-success">In production</span></a></li>
                    <li><a>20 <span class="text-primary">Completed</span></a></li>
                </ul>
              <hr>
                <div class="listing listing-1">
                  <div class="listing-section">
                    <div class="listing-ver-3 task-item">
                      <div class="listing-heading">
                        <a href="task"><h5><i class="fa fa-check-circle text-success"></i> Mars Planet Telecommunications Inc.</h5></a>
                        
                        <ul class="bookmark list-inline">
                          <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                        </ul>
                        <br>
                        <br>
                        <span>Project: <a href="project">Name of project</a></span>
                      </div>
                      <div class="listing-inner">
                        <div class="listing-content">
                            
                          <h6 class="title-company">Front End Web Development</h6>
                          <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>
                          <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>
                          <h6 class="title-tags">Skills required:</h6>
                          <ul class="tags list-inline">
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">Wordpress</a></li>
                            <li><a href="#">Presta</a></li>
                            <li><a href="#">Sass</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="listing-tabs">
                        <ul>
                          <li class="hidden-xs"><span class="task-open">Open</span></li>
                          <li><span><i class="fa fa-group text-primary"></i> <strong>10</strong> Developers</span></li>
                          <li><span><i class="fa fa-clock-o text-primary"></i> <strong>8</strong> Hours/Days</span></li>
                          <li class="visible-xs"><span class="task-open">Open</span></li>
                          <li><span class="text-primary">Show Task <i class="fa fa-chevron-right"></i></span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="listing-ver-3 task-item">
                      <div class="listing-heading">
                        <h5><i class="fa fa-dot-circle-o text-danger"></i> Front-End Web Developer</h5>
                        <ul class="bookmark list-inline">
                          <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                        </ul>
                      </div>
                      <div class="listing-inner">
                        <div class="listing-content">
                          <h6 class="title-company">Mars Planet Telecommunications Inc.</h6></a>
                          <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>
                          <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>
                          <h6 class="title-tags">Skills required:</h6>
                          <ul class="tags list-inline">
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">Wordpress</a></li>
                            <li><a href="#">Presta</a></li>
                            <li><a href="#">Sass</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="listing-tabs">
                        <ul>
                          <li class="hidden-xs"><span class="task-closed">Closed</span></li>
                          <li><span><i class="fa fa-group text-primary"></i> Developers</span></li>
                          <li><span><i class="fa fa-clock-o text-primary"></i> Hours/Days</span></li>
                          <li class="visible-xs"><span class="task-closed">Closed</span></li>
                          <li><span class="task-button">Show Task <i class="fa fa-chevron-right"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="projects" class="tab-pane fade">
                 <h3 class="tab-title">Own Projects (<span class="text-primary">23</span>)</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              <div class="row">
                      <div class="col-sm-9">
              <ul class="nav nav-tabs">
                    <li><a>3 <span class="text-success">In production</span></a></li>
                    <li><a>20 <span class="text-primary">Completed</span></a></li>
                </ul>
                      </div>
               <div class="col-sm-3"><a id="new-project-button" class="btn btn-success btn-block" href="projects/new">New Project</a></div>
              </div>
              <hr>
              <section class="projects-section">
                <div class="pb30">

                  <!-- PROJECT -->
                  <div class="project-list-item">
                    <div class="uou-block-7a">
                      <div class="css-table">

                        <div class="css-table-cell image has-bg-image" data-bg-image="theme/images/blog-image-3.png" style="background-image: url('theme/images/blog-image-3.png');"> <img class="hidden-image" src="theme/images/blog-image-3.png" alt=""> </div>
                        <div class="css-table-cell content" style="background: #fff"> 
                                <h1>iMovie App</h1><div class="listing listing-1" style="padding-bottom: 0;">
                                <div class="listing-section">
                                  <div class="listing-ver-3" style="margin:0">

                                    <div class="listing-inner">
                                      <div class="listing-content">

                                          <a href="#" class="location">Giuseppe Bianchi</a>
                                          <br>
                                          <h6 class="project-type">Web Development</h6>
                                          <span class="project-type text-black"><span class="text-primary">12</span> Tasks </span>
                                        <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. <a href="single_job.html">read more</a></p>
                                        <h6 class="title-tags">Skills required:</h6>
                                        <ul class="tags list-inline">
                                          <li><a href="#">Javascript</a></li>
                                          <li><a href="#">Wordpress</a></li>
                                          <li><a href="#">Presta</a></li>
                                          <li><a href="#">Sass</a></li>
                                        </ul>
                                      </div>
                                    </div>

                                  </div>

                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                    <!-- end .uou-block-7a --> 
                  </div>
                  <br>
                  <!-- END PROJECT -->


                </div>
              </section>                
              </div>
              <!-- Contact -->
              <div id="discussion" class="tab-pane fade">
                  <h3 class="tab-title">Contact</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              <hr>
              <h5>Email</h5>
              <p class="text-black">${mail}</p>
              <h5>Phone</h5>
              <p class="text-black">+39 3807821111</p>
                      <h5>Send a message to Giuseppe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                    <form action="#">
                        <input type="text" name="subject" placeholder="Subject">
                      <textarea placeholder="Your Message"></textarea>
                      <button class="btn btn-primary">Send message</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    

    $(document).ready(function(){
        $("#select-skill").select2({
            placeholder: "Select a Skill",
            allowClear: true
          });
        $('#add-skill-form').submit(function(e){
            e.preventDefault()
            return false;
        })
    })
</script>