<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Dashboard</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
        <div class="row"> 
          
          <!-- SIDE BAR -->
            <div class="col-md-4"> 
              <!-- Company Information -->
              <div class="pt50">
                <div class="img-block avatar-pic"></div>
                <h5 class="title-bar pt30">Mike Tomlinson</h5>
                <p>@MikeTomlinson</p>
              <!-- OPTIONS -->
                <div class="sidebar-information">
                  <div class="profile-usermenu">
                    <ul class="nav nav-links">
                      <li> <a href="#."> <i class="fa fa-tachometer"></i> Overview </a> </li>
                      <li class="active"> <a href="#."> <i class="fa fa-group"></i> Profile </a> </li>
                      <li> <a href="#."> <i class="fa fa-plus-circle"></i> Account </a> </li>
                      <li> <a href="#."> <i class="fa fa-cog"></i> Settings </a> </li>
                      <li> <a href="#."> <i class="fa fa-sign-out"></i> Sign out </a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          

          <!-- Tab Content -->
          <div class="col-md-8">
            <div class="network pt50">
                <h5 class="tab-title">Public Profile</h5>
                <div class="row">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>