<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Project Settings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
          <#if updated_project??>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close">×</button>
            <strong>Well done!</strong> Your project has been updated successfully. </div>
          </#if>
        <div class="row"> 
          
          <!-- SIDE BAR -->
            <div class="col-md-4"> 
              <!-- Company Information -->
              <div class="">
                
              <!-- OPTIONS -->
                <div class="sidebar-information" id="project-settings-menu">
                  <div class="profile-usermenu">
                    <ul class="nav nav-links">
                        <p>Project Settings </p>
                      <li class="active"> <a>Project </a> </li>
                      <p>Developers Settings </p>
                      <li> <a href="${request.getContextPath()}/projects/developers/settings/${project.key}">Developers </a> </li>
                      <p>Tasks Settings </p>
                      <#list tasks as task>
                        <li> <a href="${request.getContextPath()}/projects/tasks/settings/${task.key}">${task.name}</a> </li>
                      </#list>
                      
                    </ul>
                      <a href="${request.getContextPath()}/projects/settings/new_task/${project.key}" class="btn btn-primary btn-block mt10">Add Task</a>
                  </div>
                </div>
              </div>
            </div>

          

          <!-- Tab Content -->
          <div class="col-md-8">
            <div class="network pt10">
                <h5 class="tab-title">Project Info</h5>
                <hr class="mt10">
                <form id="form-profile" method="post" action="${request.getContextPath()}/projects/settings/update_project">
                <div class="row">
                    <div class="col-xs-8">
                         <h6 class="input-label">Project Name</h6>
                        <input type="text" name="project_name" value="${project.name}" placeholder="">
                        <input type="hidden" name="project_id" value="${project.key}">
                        <h6 class="input-label">Category</h6>
                        <input id="select-project-category" type="text" value="${project.category}" name="project_category" placeholder="">  
                        
                        <h6 class="input-label">Location</h6>
                        <input type="text" name="project_location" value="${project.location}" placeholder="">
                        <h6 class="input-label">Company</h6>
                        <input type="text" name="project_company" value="${project.company}" placeholder="">
                        </div>
                    <div class="col-xs-4">
                        <div class="img-block avatar-pic" <#if project.picture??>style="background-image:url('${request.getContextPath()}/uploads/images/${project.picture}')"</#if>></div>
                        <br>
                        <label for="#upload-picture" class="btn-block"><a class="btn btn-primary btn-block btn-upload-new-pic">Upload New Picture</a></label>
                        <input type="file" id="upload-picture" name="upload-picture" accept="image/*" style="display:none;">
                        <input type="hidden" id="upload-picture-base64" name="upload-picture-base64">
                    </div>
                </div>
                
                <br>
                <h5 class="tab-title">Project Description</h5>
                <hr class="mt10">
                <div class="row">
                    <div class="col-sm-12">
                 <div id="summernote">${project.description?no_esc}</div>
                 <input id="project_description" type="hidden" name="project_description">
                 
                </div>
                </div>
                
                <hr>
                <br>
                <input type="submit" class="btn btn-success" value="Update Project">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="${request.getContextPath()}/theme/plugins/summernote/summernote.min.js"></script> 
  <script>
  $(document).ready(function(){
        $("#select-job").select2({
            placeholder: "Select a Job",
            allowClear: true
          });
         $("#select-skill").select2({
            placeholder: "Select a skill",
            allowClear: true
          });
        $('#form-profile').submit(function(e){
             var validation = true;
             $('.error-text').empty();
             
            var picture;
            try {
                picture = $('.avatar-pic').attr("style").split('\'')[1];
            } catch(err) {
                picture = "";
            }
            
            //CONTROLLI
            if ($('#project_name').val() === null || $('#project_name').val() === "") {
                validation = false;
                $('#project_name').before('<span class="error-text">Project name is missing.</span>');
            }

            if ($('#select-project-category').val() === null || $('#select-project-category').val() === "") {
                validation = false;
                $('#select-project-category').before('<span class="error-text">Project category is missing.</span>');
            }

            if ($('#project_location').val() === null || $('#project_location').val() === "") {
                validation = false;
                $('#project_location').before('<span class="error-text">Project location is missing.</span>');
            }

            if ($('#project_company').val() === null || $('#project_company').val() === "") {
                validation = false;
                $('#project_company').before('<span class="error-text">Project company is missing.</span>');
            }

            if ($('#project_description').val() === null || $('#project_description').val() === "") {
                validation = false;
                $('#summernote').before('<span class="error-text">Project description is missing.</span>');
            }
            
            $("#project_description").val($("#summernote").summernote("code"));
            
            if(validation){
                return true;
            }else{
                return false;
            }
        })
         $('#summernote').summernote({
            minHeight: 300,
        });
        
        $('.btn-upload-new-pic').click(function(e) {
            e.preventDefault();
            $('#upload-picture').click();
        });
        $('#upload-picture').change(function(e) {
            var picture = this.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                $('.avatar-pic').attr("style", "background-image:url('"+ e.target.result +"')");
                $('#upload-picture-base64').val(e.target.result);
            };
            reader.readAsDataURL(picture);
        });
    })
  </script>