  <!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
          <#if auth_user??>
        <a href="${request.getContextPath()}/projects/new" class="pull-right btn btn-success mt10"> Create new project</a>
        </#if>
        <h2>Projects</h2>
        
        <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu. </p>
      </div>
    </div>
  </div>
  
  <!-- search -->
  <div class="search-pro">
    <div class="map-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form id="findByKeyWord" action="${request.getContextPath()}/projects/search" method="post">  
            <div class="map-search-fields">
                <input type="text" name="keyWord" placeholder="Name">
            </div>
            <div class="search-button">
              <button type="submit">Search Projects</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Members -->
  <section class="pro-mem projects-section">
    <div class="container pb30">
      <#if listaprogetti?size != 0>
        <#list listaprogetti as progetto>
            <!-- PROJECT -->
            <div class="project-list-item container">
              <div class="uou-block-7a">
                <div class="css-table">

                    <a href="${request.getContextPath()}/projects/${progetto.key}"><div class="project-list-img img-block" data-bg-image="${request.getContextPath()}/theme/images/${progetto.picture}" style="background-image: url('${request.getContextPath()}/theme/images/${progetto.picture}');"></div></a>
                  <div class="css-table-cell content project-list-content" style="background: #fff"> 
                          <h1><a href="${request.getContextPath()}/projects/${progetto.key}">${progetto.name?cap_first}</a></h1><div class="listing listing-1" style="padding-bottom: 0;">
                          <div class="listing-section">
                            <div class="listing-ver-3" style="margin:0">

                              <div class="listing-inner">
                                <div class="listing-content">

                                    <a href="#" class="location">${progetto.coordinator.name?cap_first} ${progetto.coordinator.surname?cap_first}</a>
                                    <br>
                                    <h6 class="project-type">${progetto.category}</h6>
                                    <span class="project-type text-black"><span class="text-primary">${ntasks[progetto?index]}</span> Tasks | <span class="text-primary">${ncollaboratori[progetto?index]}</span> Developers</span>
                                    <#assign dec = progetto.getTextDescription()>
                                    <#if (dec?length > 251)>
                                        <div>${dec?substring(0, 250)}... <a href="${request.getContextPath()}/projects/${progetto.key}">read more</a></div>
                                    <#else>
                                        <div>${dec} <a href="${request.getContextPath()}/projects/${progetto.key}"> read more</a></div>
                                    </#if>
                                  <!--<h6 class="title-tags">Skills required:</h6>
                                  <ul class="tags list-inline">
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Presta</a></li>
                                    <li><a href="#">Sass</a></li>
                                  </ul>-->
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <!-- end .uou-block-7a --> 
            </div>
            <br>
            <!-- END PROJECT -->
      </#list>
    <#else>
    <h4 class="text-center">No project available</h4>
     </#if> 
    </div>
      
      
      <div class="gt_pagination_outer_wrap">
            <ul>
                <#list 1..page as i>
                <#if i gte 1>
                <#if selected?number == i ><li class="active"><a href="List_project?n=${i}">${i}</a></li><#else><li><a href="List_project?n=${i}">${i}</a></li></#if>
                </#if>
                </#list>
            </ul>
        </div>
      
      
  </section>
