<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Project Settings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
          <#if updated_project??>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close">×</button>
            <strong>Well done!</strong> Your project has been updated successfully. </div>
          </#if>
        <div class="row"> 
          
          <!-- SIDE BAR -->
            <div class="col-md-4"> 
              <!-- Company Information -->
              <div class="">
                
              <!-- OPTIONS -->
                <div class="sidebar-information" id="project-settings-menu">
                  <div class="profile-usermenu">
                    <ul class="nav nav-links">
                        <p>Project Settings </p>
                      <li> <a href="${request.getContextPath()}/projects/settings/${project.key}">Project </a> </li>
                      <p>Developers Settings </p>
                      <li class="active"> <a>Developers </a> </li>
                      <p>Tasks Settings </p>
                      <#list tasks as task>
                        <li> <a href="${request.getContextPath()}/projects/tasks/settings/${task.key}">${task.name}</a> </li>
                      </#list>
                      
                    </ul>
                      <a href="${request.getContextPath()}/projects/settings/new_task/${project.key}" class="btn btn-primary btn-block mt10">Add Task</a>
                  </div>
                </div>
              </div>
            </div>

          

          <!-- Tab Content -->
          <div class="col-md-8">
            <div class="network pt10">
                <h5 class="tab-title" style="padding-left: 15px">Developers Settings</h5>
                <hr class="mt10">
                <div class=""> 
                      
                    <!-- Filter -->
                    <div class="filter-flower">
                        <!--<p>Lorem ipsu umanu est</p>-->
                      <div class="row">
                        <div class="col-sm-7">
                            <p>Invitations you sent to developers to collaborate in your projects. Click an invite for more details.</p>
                          <!--<a href="#." class="active btn btn-error"><i class="fa fa-trash"></i></a>-->
                        </div>
                        
                        <!-- Short -->
                        <div class="col-sm-5">
                          <select>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                            <option>Sort</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div id="alert-developers-settings"></div>
                    <!-- Members -->
                    <div class="main-mem table-blue"> 
                      
                      <!-- Head -->
                      
                      
                      <!-- Tittle -->
                      <div class="tittle">
                        <ul class="row">
                          <li class="col-xs-5"> <span>Developer</span> </li>
                          <li class="col-xs-6"> <span>Task</span> </li>
                          <li class="col-xs-1 text-center"> <span></span> </li>
                        </ul>
                      </div>
                      
                      <!-- Tittle -->
                      <div class="folow-persons" id="developers-project-settings-list">
                        <ul>
                        <#if tasks?has_content>
                       <#list tasks as task>
                      <#if task_collaborators[task?index]?has_content>      
                      <#list task_collaborators[task?index] as key, value>
                          <!-- MEMBER -->
                           <li id="entry-${key.getKey()}-${task.getKey()}">
                            <!-- Check Box 
                            <div class="checkbox">
                              <input id="checkbox7" class="styled" type="checkbox">
                              <label for="checkbox7"></label>
                            </div>-->
                            <div class="row"> 
                              <!-- Title -->
                              <div class="col-xs-5"> 
                                
                                <!-- Name -->
                                <div class="fol-name">
                                    <div class="img-block avatar-table"></div>
                                    <h6>${key.getName()} ${key.getSurname()}</h6>
                                  <span>${key.getHeadline()}</span> </div>
                              </div>
                              <!-- Network -->
                              <div class="col-xs-6 n-p-r"> <span>${task.getName()}</span> </div>
                              <!-- Connections -->
                              <div class="col-xs-1 n-p-r n-p-l text-center"> <span class="remove-developer entry-dashboard" data-dev-name="${key.getName()} ${key.getSurname()}" data-task-name="${task.getName()}" data-task-id="${task.getKey()}" data-dev-id="${key.getKey()}"><i class="fa fa-times text-danger"></i></span> </div>
                            </div>
                          </li>
                          </#list>
                          </#if>
                          </#list>
                          </#if>
                          <!-- END MEMBER -->
                        </ul>
                      </div>
                     <!-- END TAB-->
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div id="modal-dashboard" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove Developer from Task</h5>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
          <h2>Are you sure to remove <a id="modal-developer-name" class="text-primary" href=""></a> from <a href="" id="modal-task-name" class="text-primary"></a> ?</h2>
      </div>
        <br>
      <div class="modal-footer">
          <button id="delete-developer-button" type="button" class="btn btn-error">Remove</button>'
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <script>
$(document).ready(function(){
    var ctx = "${request.getContextPath()}";
    var modal_dev_name= $("#modal-developer-name");
    var modal_task_name = $('#modal-task-name');
    var modal_delete_button = $("#delete-developer-button");
    var alert = $("#alert-developers-settings");
    var modal = $("#modal-dashboard");
    
    $(".remove-developer").click(function(e){
        e.preventDefault();
        
        //modal_dev_name.text($(this).data("dev-name"));
        modal_dev_name.text($(this).data("dev-name")).attr("href", "${request.getContextPath()}/developers/" + $(this).data("dev-id"));;
        modal_delete_button.data("dev-id", $(this).data("dev-id"));
        modal_task_name.text($(this).data("task-name")).attr("href", "${request.getContextPath()}/projects/tasks/" + $(this).data("task-id"));;
        modal_delete_button.data("task-id", $(this).data("task-id"));
        modal.modal();
    });
    
    $("body").on("click", "#delete-developer-button", function(e){
        debugger;
        var button = $(this);
        var task_key = button.data("task-id");
        var dev_key = button.data("dev-id");
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/projects/developers/settings/remove_developer',
            data: {
                task_key: task_key,
                dev_key: dev_key
            },
            success: function (response) {
                debugger;
                modal.modal("toggle"); 
                $("#entry-" + dev_key +  "-" + task_key).remove();
                alert.html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Well done!</strong> Developer has been removed from your task.</div>');
                //current_button.attr("disabled", "disabled").text("Invite Sent").removeClass("invite-button");
                //modal.modal("toggle");
            },
            error: function (data){
                console.log(data)
                modal.modal("toggle");
                debugger;
                modal_alert.html('<div class="alert alert-error alert-dismissible" role="alert"><button type="button" class="close">×</button><strong>Ops!</strong> Something went wrong.</div>');
                //button.removeClass("hidden");
            }
        });
    });
    
})

</script>