<!-- SUB Banner -->
  <div class="sub-bnr user-profile-bnr">
    <div class="position-center-center">
      <div class="container">
        <h2>Account Settings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
      </div>
    </div>
  </div>
  
  <!-- Compny Profile -->
  <div class="compny-profile"> 
    
    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
      <div class="container">
        <div class="row"> 
          
          <!-- SIDE BAR -->
            <div class="col-md-4"> 
              <!-- Company Information -->
              <div class="pt50">
                
              <!-- OPTIONS -->
                <div class="sidebar-information">
                  <div class="profile-usermenu">
                    <ul class="nav nav-links">
                      <li> <a href="${request.getContextPath()}/settings/profile"> <i class="fa fa-group"></i> Profile </a> </li>
                      <li class="active"> <a> <i class="fa fa-plus-circle"></i> Account </a> </li>
                      <#if isAdmin??>
                      <li> <a href="${request.getContextPath()}/admin/skills"> <i class="fa fa-lock"></i> Admin Area </a> </li>
                      </#if>
                      <!--<li> <a href="#."> <i class="fa fa-cog"></i> Settings </a> </li>-->
                      <li> <a href="${request.getContextPath()}/logout"> <i class="fa fa-sign-out"></i> Sign out </a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          

          <!-- Tab Content -->
          <div class="col-md-8">
            <div class="network pt50">
                <h5 class="tab-title">Change Password</h5>
                <hr class="mt10">
                <form id="form-account-password" method="post" action="">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="input-label">Old Password</h6>
                        <input type="password" name="name" value="" placeholder="">
                        <h6 class="input-label">New Password</h6>
                        <input type="password" name="lastname" value="" placeholder="">
                        <h6 class="input-label">Confirm Password</h6>
                        <input type="password" name="email" value="" placeholder="">
                        <input type="submit" class="btn btn-default" value="Change Password"><a href="#" class="text-primary" id="forgot-password-settings">I forgot my password</a>
                        </div>
                  
                </div>
                </form>
                <br>
                <br>
                <h5 class="tab-title">Change Username</h5>
                <form method="post" action="" id="form-account-username">
                <hr class="mt10">
                
                 <p class="tab-subtitle mb0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu sollicitudin, auctor mauris ac, semper elit. Suspendisse ultrices malesuada lorem, quis consequat turpis semper eget.</p>
                 <div class="row">
                <div class="col-sm-8">
                 
                 <!--<h6><strong>@</strong>GiuseppeBianchi</h6>-->
                    <h6 class="input-label mt10">Username</h6>
                    <input type="text" name="name" value="${username}" placeholder="">
                 </div>
                </div>
                <input type="submit" class="btn btn-default" value="Update Profile">
                </form>
                <br>
                <br>
                <h5 class="tab-title text-danger"><strong>Delete Account<strong></h5>
                <form method="post" action="" id="form-account-delete">
                <hr class="mt10 mb10">
                 <p class="tab-subtitle mb0">Once you delete your account, there is no going back. Please be certain.</p>
                 <br>
                <input type="submit" class="btn btn-error" value="Delete your account">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function(){
        $("#select-job").select2({
            placeholder: "Select a Job",
            allowClear: true
          });
         $("#select-skill").select2({
            placeholder: "Select a skill",
            allowClear: true
          });
        $('#form-profile').submit(function(e){
            e.preventDefault()
            return false;
        })
    })
  </script>