
  
  <div class="compny-profile"> 
    <!-- SUB Banner -->
    <div class="profile-bnr overlay-up" <#if task.getProject().getPicture()??>style="background-image:url('${request.getContextPath()}/uploads/images/${task.getProject().getPicture()}')"</#if>>
        <a class="overlay"></a>
      <div class="container overlay-up"> 
        
        <!-- User Iinfo -->
        <div class="user-info background-transparent">
          <h1>${task.name}</h1>
          <h3><a href="${request.getContextPath()}/projects/${project.key}">${project.name}</a></h3>
          <h6><span class="btn btn-primary">Task</span></h6>   
        </div>
        
        
        <!-- Top Riht Button -->
        <div class="right-top-bnr">
            
             <#if auth_user??>
                <#if isCoordinator??>
                 <a id="setting-project-button" href="${request.getContextPath()}/projects/tasks/settings/${task.key}" class="btn btn-default"><i class="fa fa-cog"></i> Edit</a>
                <div class="bt-ns"> <a href="#."><i class="fa fa-bookmark-o"></i> </a> <a href="#."><i class="fa fa-thumbs-up"></i> </a>  </div>
                <#else>
                <#if task.open && !task.isCompleted()>
                    <#if state??>
                    <!-- è presente il developer nel task -->
                        <#if (state == 0)> 
                            <#if (sender==dev)>
                            <!--richiesta già inviata-->
                            <div class="connect"> <a href="#" id="unsubscribe-button" class="btn btn-secondary"><i class="fa fa-paper-plane"></i> Request sent</a>
                            
                            <#else>
                            <!--invito ricevuto-->
                            <div class="connect"> <a href="${request.getContextPath()}/dashboard/proposals" class="btn btn-secondary"><i class="fa fa-mail-reply"></i> Reply to Invite</a>
                            </#if>
                         <#else>
                            <#if (state > 0)>    
                                <div class="connect"> <a href="#" class="btn btn-success"><i class="fa fa-check-circle"></i> Subscribed</a>
                            <#else>
                                <#if (sender==dev)>
                                    <div class="connect"> <a href="#." class="btn btn-error"><i class="fa fa-times"></i> Request Declined</a>  
                                <#else>
                                    <div class="connect"> <a href="#." id="subscribe-button" class="btn btn-primary"><i class="fa fa-user-plus"></i> Subscribe</a>
                                </#if>
                            </#if>
                         </#if>  
                    <#else>
                        <!-- il developer non è iscritto al task-->
                        <div class="connect"> <a href="#." id="subscribe-button" class="btn btn-primary"><i class="fa fa-user-plus"></i> Subscribe</a>
                    </#if>
                <#else>
                    <#if task.completed>
                    <div class="connect"> <a href="#." class="btn btn-primary"><i class="fa fa-check-circle"></i> Completed</a>
                        <#else>
                      <div class="connect"> <a href="#." class="btn btn-error"><i class="fa fa-times"></i> Closed</a>  
                    </#if>
                </#if>
                <div class="bt-ns"> <a href="#."><i class="fa fa-bookmark-o"></i> </a> <a href="#."><i class="fa fa-thumbs-up"></i> </a>  </div>
                </#if>
                
             </#if>
          
          </div>
        </div>
      </div>
      

    </div>
    
    <!-- Profile Company Content -->
    <div class="profile-company-content main-user project-page" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row"> 
          
          <!-- Nav Tabs -->
          <div class="col-md-12 ">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#profile">Task</a></li>
              <li><a data-toggle="tab" href="#developers">Developers</a></li>
              <!--<li><a data-toggle="tab" href="#discussion">Discussion</a></li>-->
            </ul>
              <hr>
          </div>
          
          
          
          
          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="tab-content"> 
              
              <!-- PROFILE -->
              <div id="profile" class="tab-pane fade in active">
              <!-- SIDE BAR -->
              
              <h3 class="tab-title">Task</h3>
              
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              <#if task.completed>
              <a href="#" class="btn btn-primary btn-small ">Completed</a>
              <#else>
              <#if task.open>
                <a href="#" class="btn btn-success btn-small ">Open</a>
              <#else>
                  <a href="#" class="btn btn-error btn-small ">Closed</a>
              </#if>
              </#if>
              <p></p>
              <h5 class="type-work text-black"><span class="text-primary">${task.numCollaborators} </span> Developers</h5>
              <h5 class="type-work text-black"><i class="fa fa-clock-o text-success"></i> Start: ${task.getStartDate().time?date?string.short} </h5>
              <h5 class="type-work text-black"><i class="fa fa-flag text-danger"></i> End: ${task.getEndDate().time?date?string.short} </h5>
              
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-main">
                      <h3 class="tab-title">Type</h3>
                      <h5>${taskType}</h5>
                      <br>
                      <h3 class="tab-title">Project</h3>
                      <h5><a href="${request.getContextPath()}/projects/${project.key}">${project.name}</a></h5>
                      <hr>
                      <h3 class="tab-title">Required Skills</h3>
                      <br>
                      <#list skills as key,value>
                      <div class="uou-progressbar-single">
                         <h6>${key.name}</h6>
                         <span class="main-bar"> <span class="inner-bar" style="width: ${value}0%"></span> <a class="progress-percent">${value}</a> </span> 
                       </div>
                      </#list>
                      <hr>
                        
                    <h3 class="tab-title">Assignement</h3>
                    <div class="tab-content-body">
                      ${task.description?no_esc}
                    </div>
                </div>
                
                    <hr>
          </div>
          <div class="col-md-12 similar"> 
                  <!-- DEVELOPER -->
                  <h3 class="tab-title">Project's Coordinator</h3>
                  <p class="tab-subtitle">lorem  ipsu umanum est</p>
          <div class="developer-list">
          <div class="media">
            <div class="media-left">
                <div class="inn-simi"> <div class="media-object" alt=""></div></div>
            </div>
            <div class="media-body">
              <h4>${coordinator.name} ${coordinator.surname}</h4>
              <p>${coordinator.headline}</p>
               <div class="com-rate"><span>
                    <#list 1..5 as i>
                        <#if (i > vote)>
                        <i class="fa fa-star-o"></i>
                        <#else>
                        <i class="fa fa-star"></i>
                        </#if>
                    </#list>
                    </span></div>
              <div>
                  <#assign dec = coordinator.getTextBio()>
                    <#if (dec?length > 251)>
                        ${dec?substring(0, 250)}... <a href="${request.getContextPath()}/developers/${coordinator.key}">read more</a>
                    <#else>
                       ${dec} <a href="${request.getContextPath()}/developers/${coordinator.key}"> read more</a>
                    </#if>
              </div>
              
              
              <!-- Share -->
              <div class="share-w"><a href="#."><i class="fa fa-bookmark-o"></i></a> <a href="#."><i class="fa fa-envelope-o"></i></a> <a href="#."><i class="fa fa-eye"></i></a></div>
            </div>
          </div>
          <!-- END DEVELOPER -->
          </div>
       
                  <!-- Company Rating
                  <div class="sidebar">
                    <h5 class="main-title">Developer Rating</h5>
                    <div class="sidebar-information">
                      <ul class="single-category com-rate">
                        <li class="row">
                          <h6 class="title col-xs-6">Expertise:</h6>
                          <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                        <li class="row">
                          <h6 class="title col-xs-6">Knowledge:</h6>
                          <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span> </li>
                        <li class="row">
                          <h6 class="title col-xs-6">Quality::</h6>
                          <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                      </ul>
                    </div>
                  </div> -->
                  
                  
                </div>
          </div>
              </div>
              
              <!-- Jobs -->
              <div id="developers" class="tab-pane fade">
                  <#if auth_user??>
                        <#if isCoordinator??>
                            <a href="${request.getContextPath()}/projects/task/suggestions/13" class="btn btn-primary pull-right"><i class="fa fa-user-plus"></i> Find Developers</a>
                        
                        </#if>
                  </#if>
                  <h3 class="tab-title">Developers</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              <!--<div class="listing listing-1" style="padding-bottom: 0">
                  <div class="listing-ver-3 task-item">
                      <div class="listing-tabs">
                        <ul>
                            <li class="hidden-xs"><span><strong class="text-primary">30</strong> Developers</span></li>
                          <li><span><strong class="text-primary">2</strong> Hired</span></li>
                          <li><span><strong class="text-primary">23452</strong> Requests</span></li>
                          <li class="visible-xs"><span><strong class="text-primary"></strong> Closed</span></li>
                          <li><span class="task-open">Subscribe</span></li>
                        </ul>
                      </div>
                    </div>
              </div>-->
              <div class="row">
                      <div class="col-sm-9">
              <ul class="nav nav-tabs">
                    <li><a>${task.numCollaborators} <span class="text-primary">Required</span></a></li>
                    <li><a>${collaborators?size} <span class="text-success">Hired</span></a></li>
                    <li><a>${nrequests} <span class="text-danger">Requests</span></a></li>
                </ul>
                      </div>
               <div class="col-sm-3">
                   
               </div>
              </div>
              <hr>
                <div class="">
                  <div class="similar developer-list">
                      <#if collaborators?has_content>
                      <#list collaborators as key, value>
                      <!-- DEVELOPER -->
          <div class="media">
            <div class="media-left">
                <div class="inn-simi"> <div class="media-object" alt=""></div></div>
            </div>
            <div class="media-body">
              <#if key.name == "" && key.surname == "">
                <h4>${key.username}</h4>
              <#else>
                <h4>${key.name} ${key.surname}</h4>
              </#if>
              <p>${key.headline}</p>
               <#list 1..5 as i>
                        <#if (i > votes[key?index])>
                        <i class="fa fa-star-o"></i>
                        <#else>
                        <i class="fa fa-star"></i>
                        </#if>
                    </#list>
                    <div>
                        <#assign dec = key.getTextBio()>
                    <#if (dec?length > 251)>
                        ${dec?substring(0, 250)}... <a href="${request.getContextPath()}/developers/${key.key}">read more</a>
                    <#else>
                       ${dec} <a href="${request.getContextPath()}/developers/${key.key}"> read more</a>
                    </#if>
                    </div>
              <!-- Share -->
              <div class="share-w"><a href="#."><i class="fa fa-bookmark-o"></i></a> <a href="#."><i class="fa fa-envelope-o"></i></a> <a href="#."><i class="fa fa-eye"></i></a></div>
            </div>
          </div>
          <!-- END DEVELOPER -->
          </#list>
          <#else>
                <#if isCoordinator??>
                <h5>Find some developer for this task.</h5>
                <#else>
                <h5>No developer has been hired for this task.</h5>
                </#if>
          </#if>
                    </div>

                </div>                
              </div>
              <!-- Contact 
              <div id="discussion" class="tab-pane fade">
                  <h3 class="tab-title">Discussion</h3>
              <p class="tab-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus similique aliquid a dolores autem laudantium sapiente ad enim ipsa modi laborum accusantium deleniti neque architecto vitae.</p>
              <hr>
                  <div class="profile-in">
                    <div class="uou-post-comment">
                      <aside class="uou-block-14a">
                        <h5 class="sidebar-title">Comments(<span>2</span>)</h5>
                        <br>
                        <ul>
                          <li>
                            <article class="comment">
                              <img src="${request.getContextPath()}/theme/images/p-post-1.png" alt="">

                              <div>
                                <header>
                                  <a href="#" class="user">Jessica Walsh -</a>

                                  <span class="time-ago">May 13, 2015(11.25)</span>
                                  <a href="#" class="reply">Reply</a>
                                </header>

                                <p>Veniam minus obcaecati, quos facere et quibusdam debitis iure voluptate libero voluptas dolorem praesentium rerum adipisci ad fuga, odio molestiae. Soluta quos vel pariatur nemo fugit repellat. nemo fugit repellat</p>
                              </div>
                            </article>
                          </li>


                          <li>
                            <article class="comment">
                              <img src="${request.getContextPath()}/theme/images/p-post-1.png" alt="">

                              <div>
                                <header>
                                  <a href="#" class="user">Jessica Walsh -</a>

                                  <span class="time-ago">May 13, 2015(11.25)</span>
                                  <a href="#" class="reply">Reply</a>
                                </header>

                                <p>Veniam minus obcaecati, quos facere et quibusdam debitis iure voluptate libero voluptas dolorem praesentium rerum adipisci ad fuga, odio molestiae. Soluta quos vel pariatur nemo fugit repellat. nemo fugit repellat</p>
                              </div>
                            </article>
                          </li>

                        </ul>
                        <h4>Join Conversation</h4>
                        <div class="uou-post-comment-form">
                          <form role="form">
                            <div class="row">

                              <div class="col-sm-12">
                                <textarea placeholder="Your comment"></textarea>
                              </div>

                              <div class="col-sm-12">
                                <button class="btn btn-primary">Add Comment</button>
                              </div>

                            </div> 
                          </form>
                        </div>
                      </aside> 
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){
    
  ctx = "${request.getContextPath()}";
  
  $("body").on("click", "#subscribe-button", function(e){
      e.preventDefault();
      var button = $(this);
        $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/projects/join_task',
            data: {
                task_key: ${task.key}     
            },
            success: function (response) {
                debugger;
                button.attr("id", "unsubscribe-button").removeClass("btn-primary").addClass("btn-secondary").html('<i class="fa fa-paper-plane"></i> Request sent');
                
            },
            error: function (data){
                console.log(data)      
                debugger;
            }
        });
      
  })
  $("body").on("click", "#unsubscribe-button", function(e){
      e.preventDefault();
      var button = $(this);
      $.ajax({
            datatype: 'text/plain',
            type: 'post',
            url: ctx + '/projects/remove_collaborator',
            data: {
                task_key: ${task.key},
                dev_key: ${auth_user}
            },
            success: function (response) {
                debugger;
                button.attr("id", "subscribe-button").removeClass("btn-secondary").addClass("btn-primary").html('<i class="fa fa-user-plus"></i> Subscribe');
            },
            error: function (data){
                console.log(data)      
                debugger;
            }
        });
  })
  
})
</script>