<div class="gt_contact_form_wrap default_width add-project-page">
    <!-- POP-UP -->
    <div id="popup1" class="overlay hidden">
        <div class="popup">
            <a class="close close-tab" href="#">×</a>
            <div class="content">
                <form class="gt_contact_form add-task-form" id="contact-form" action="" method="post">
                    <div class="col-md-9">
                        <div class="gt_contact_us_field nome-progetto prova-float">
                            <label id="label-pop">Task Name</label>
                            <input class="c_ph" type="text" placeholder="Task name" id="task_name" name="task_name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label id="label-pop" class="type-err">Select type</label> 
                        <div class="gt_explore_search gt_clas_search select-skill fullWidth">   
                            <select id="task_type" class="form-control select-list-profile ">
                                <option value="">Select Type</option>
                                <#list types as type>
                                <option value="${type.key}">${type.type}</option>
                                </#list>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt_contact_us_field nome-progetto">
                            <label id="label-pop">Start Date</label>
                            <input class="c_ph" type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" id="start_date" name="start_date">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt_contact_us_field nome-progetto">
                            <label id="label-pop">End Date</label>
                            <input class="c_ph" type="text" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" id="end_date" name="end_date">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="gt_contact_us_field nome-progetto">
                            <label id="label-pop">Description</label>
                            <textarea class="gt_c_bg" name="task_descr" id="task_descr" placeholder="Insert a short description of the task"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt_contact_us_field nome-progetto">
                            <label id="label-pop">Number of Collaborators</label>
                            <div class="col-md-6">
                                <input class="c_ph" type="number" min="1" id="num_collaborators" name="num_collaborators">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="add-skill">
                            <label id="label-pop" class="skills-err">Select skills and level required</label> 
                            <div class="gt_explore_search gt_clas_search select-skill ">   
                                <select id="select-skill2" class="form-control select-list-profile ">
                                    <option value="">Select Skill</option>
                                    
                                    <#list skills as skill>
                                    <option class="${skill.type_key} hidden" value="${skill.key}">${skill.name}</option>
                                    <#list skill.child as child>
                                    <option class="${skill.type_key} hidden" value="${child.key}"> - ${child.name}</option>
                                    </#list>
                                    </#list>
                                </select>
                            </div>
                            <div class="gt_explore_search gt_clas_search select-skill">            
                                <select id="select-level2" class="form-control select-list-profile " >
                                    <option value="">Level</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="add-skill-pop gt_clas_search select-skill">                          
                                <input id ="add-button2" type="button" class="add-button add-skill-to-task-btn" value="Add">
                            </div>
                        </div>
                        <div class="lista-skill gt_aside_category">
                            
                            <ul class="list-skill" id="list-skill">
                                <!--contenuto = lista skill selezionate -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gt_privacy_field default_width mb20">
                            <input class="c_ph" type="text" readonly="readonly" value="State">
                            <label class="switch">
                                <input type="checkbox" class="open-check"/>
                                <div class="slider round"><span>Open</span></div>
                            </label>
                            <input type="text" class="hidden isOpen" id="isOpen" name="isOpen" value="1"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="gt_contact_us_field">
                            <input id="submit-task" type="button" value="submit" name="submit_task">
                        </div>
                        <!--Alert Message-->
                        <div id="contact-result">
                        </div>
                    </div>
                    <input type="text" class="input-skills"/>
                </form>
            </div>
        </div>
    </div> <!-- FINE POP-UP -->
    
    <form class="gt_contact_form add-project-form" id="contact-form" action="UpdateProjectSave?n=${project_key}" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="gt_contact_us_field nome-progetto">
                    <label>Nome del Progetto:</label>
                    <input class="c_ph" type="text" placeholder="Project name" id="project_name" name="project_name" required="required" value="${project.name}">
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="gt_contact_us_field nome-progetto">
                    <label>Inserisci una descrizione del progetto</label>
                    <textarea class="gt_c_bg" name="project_descr" id="project_descr" placeholder="Description">${project.description}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="add-task-box">
                    <a class="add-task" href="#popup1">Add Task</a>
                </div>
            </div>
        </div>
        <!--LISTA TASK AGGIUNTI -->
        <div class="gt_d_fav_courses default_width">
            <ul class="gt_d_fav_hdg">
                <li>Task Aggiunti</li>                  
            </ul>
            <ul class="gt-shortlisted task-aggiunti"  id="task-list">
                <#list tasks as task>
                <li>
                    <div class='gt-text grade-padding'>
                        <p id="name">Task: ${task.name?cap_first}</p>
                        <p id="tipo">Type: ${tasks_types[task?index].type?cap_first}</p>
                        <p id="isOpen">State: <#if task.open==true>Open<#else>Close</#if></p>
                        <p id="start-end">Start Date: ${task.getStartDate().time?date?string("dd/MM/yyyy")} &nbsp; - &nbsp; End Date: ${task.getEndDate().time?date?string("dd/MM/yyyy")}</p>
                        <p id="descr">Description: ${task.description?cap_first}</p>
                        <p id="coll">Collaborators: ${task.numCollaborators}</p>
                        <p id="append_here_${taks.name}" class="skills">Skills Richieste: <#list skills_level[task?index] as key,value> ${key.name}(${value}) ; </#list>
                        </p>
                        <input type="button" value="Update" id="update-skill" onclick="update_task(this)"/>
                        <input type="button" value="Close Task" id="close-skill" class="close-task" onclick="close_task(this)"/>
                        
                    </div>
                </li>
                </#list>
            </ul>
        </div>
        <!-- fine lista task aggiunti -->
        <!--   AGGIUNGI TASK   -->
        
        <div class="col-md-12">
            <div class="gt_contact_us_field">
                <input id="submit-project" type="submit" value="Save changes" name="submit_project">
            </div>
           
        </div>
        <input id="tasks_keys" name="tasks_keys" type="text" class="hidden" value="<#list tasks as task>${task.name},${task.key};</#list>"/>
        <input id="tasks" name="tasks" type="text" class="hidden"/>
    </form>
</div>
