<!-- Dashboard Side Bar Wrap Start -->
<div class="col-md-4">
    <div class="gt-user-sidebar ">
        <div class="gt_d_author_wrap ">
            <div class="gt_d_author_pic">
                <figure>
                    <img src=${foto_profilo} alt="">
                </figure>
            </div>
            <div class="gt_d_author_pic_des">
                <h5>${username}</h5>
                <span class="gt_hdg_span"></span>
                <p>${fullname}</p>
            </div>
        </div>
        <div class="gt-usser-account-list">
            <ul>
                <li><a href="MyProfile"><i class="fa fa-user-circle-o gt-color"></i>My Profile</a></li>
                <li><a href="MyProjects"><i class="fa fa-code gt-color"></i>My Projects</a></li>
                <li><a href="MyCollaborators"><i class="fa fa-users gt-color"></i>My Collaborators</a></li>
                <li><a href="MyCollaborations"><i class="fa fa-handshake-o gt-color"></i>My Collaborations</a></li>
                <li><a href="MySkills"><i class="icon-book gt-color"></i>My Skills</a></li>
                <li class="active"><a href="UpdateProfile"><i class="fa fa-upload"></i>Update Profile</a></li>
                <li><a href="CreateProject"> <i class="fa fa-plus-circle"></i>New Project</a></li>
            </ul>
            <a href="Logout" class="gt-logout"><i class="icon-arrows-2 gt-color"></i>Logout</a>
        </div>
    </div>
</div>
<!-- Dashboard Side Bar Wrap End -->

<!--Classes List Wrap Start-->

<div class="col-md-8">
    <form method="post" action="UpdateProfileSubmit" enctype="multipart/form-data">
        <div class="gt_d_classes_wrap default_width mb20 btn-upd-foto">
            <div class="gt_d_profile_wrap default_width">
                <div class="form-group upload-pic btn-upd-foto" id="profile-center">
                    
                    <label for="upload-profile-pictures">Profile Picture</label>
                    <figure>
                        <img id="img-profilo" src=${foto_profilo} >
                    </figure>
                    <label class="btn btn-default btn-file btn-upd">
                        Update Picture
                        <input class="hidden" type="file" id="foto-profilo" name="foto-profilo" accept="image/*" onchange="readURL(this);"/>
                    </label>
                </div>
            </div>
            
            
            
            <div class="gt_event_tab default_width">
                
                <div class="gt_event_inside_tab default_width">
                    <ul data-tabs="tabs">
                        
                        <li class="active" > <a data-toggle="tab" href="#time_schedule">Write CV</a></li>
                        <li> <a data-toggle="tab" href="#google_map">Upload CV</a></li>
                    </ul>
                    <!--Event Tab List Start-->
                    
                    <div class="tab-content">
                        <div class="tab-pane active" id="time_schedule">
                            <div class="gt_event_time_schdule default_width">
                                <textarea class="tiny" name="curriculum" id="curriculum" placeholder="Write here you curriculum"> ${curriculum?no_esc}</textarea>
                            </div>
                        </div>
                        <div class="tab-pane" id="google_map">
                            <div class="gt_event_map default_width">
                                <div class="map-canvas btn-upd-cv" id="map-canvas">
                                    <label> Update your CV in pdf </label>
                                    <label class="btn btn-default btn-file">
                                        Update CV
                                        <input type="file" class="hidden" id="curriculum-pdf" name="curriculum-pdf" accept="application/pdf"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="gt_contact_us_field">
                    <textarea class="gt_c_bg" name="biography" id="biography" placeholder="Write here a short description about you" required>${bio}</textarea>
                </div>
            </div>
            <input type="submit" value="Update"/>
        </div>
    </form>
</div>

